body {
    background: #fff;
}

/* banner */
.qj_page .banner {
    height: 722px;
    background: url(../images/bg.jpg) center top no-repeat;
}
.qj_page .content {
    margin-top: -292px;
    background: url(../images/bg.png) center 750px no-repeat;
}
.qj_page .timer {
    width: 437px;
    height: 64px;
    background: url(../images/timer.png);
    margin: 0 auto;
    overflow: hidden;
}
.qj_page .timer .txt {
    float: left;
    line-height: 64px;
    color: #36b6ff;
    text-indent: 40px;
}
.qj_page .timer .time {
    float: left;
    width: 66px;
    margin-top: 10px;
    position: relative;
}
.qj_page .timer .time:after {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 9px;
    background: url(../images/dot.png);
}
.qj_page .timer .time.second:after {
    background: transparent;
}
.qj_page .timer .time p {
    font-size: 30px;
    color: #36b6ff;
    text-align: center;
    line-height: 32px;
}
.qj_page .timer .time span {
    display: block;
    font-size: 8px;
    color: #36b6ff;
    text-align: center;
    line-height: 12px;
}
.qj_page .seeTuan {
    position: relative;
}
.qj_page .seeTuan a {
    display: block;
    width: 232px;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    color: #0095f9;
    margin: 0 auto 0;
    background: url(../images/15.png);
    text-align: center;
}
.qj_page .seeTuan a:hover {
    color: #25a5fe;
}
.qj_page .seeTuan p {
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    margin: auto;
    left: 0;
    bottom: -20px;
    right: 0;
    text-align: center;
}
.qj_page .tuan {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 25px;
}
.qj_page .tuan .item {
    float: left;
    width: 355px;
    height: 462px;
}
.qj_page .tuan .item.three {
    background: url(../images/1.png) left top no-repeat;
    margin-left: 16px;
}
.qj_page .tuan .item.six {
    background: url(../images/2.png) left top no-repeat;
    margin-left: 56px;
}
.qj_page .tuan .item.ten {
    background: url(../images/3.png) left top no-repeat;
    margin-left: 42px;
}
.qj_page .tuan .zhe {
    font-size: 18px;
    color: #3c3c3c;
    font-weight: bold;
    margin-top: 10px;
    width: 60px;
    line-height: 40px;
    text-align: center;
}
.qj_page .tuan .t {
    font-size: 48px;
    color: #fff;
    line-height: 72px;
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
    position: relative;
}
.qj_page .tuan .t:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 3px;
    background: #fff;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -3px;
}
.qj_page .tuan .desc {
    margin: 20px 0 0 5px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.qj_page .tuan .desc span {
    font-size: 24px;
    color: #ff6b74;
}
.qj_page .tuan .three .t {
    -moz-text-shadow: 0 9px 10px rgba(30, 140, 255, .8);
    -ms-text-shadow: 0 9px 10px rgba(30, 140, 255, .8);
    -webkit-text-shadow: 0 9px 10px rgba(30, 140, 255, .8);
    text-shadow: 0 9px 10px rgba(30, 140, 255, .8);
}
.qj_page .tuan .six .t {
    -moz-text-shadow: 0 9px 10px rgba(255, 190, 40, .8);
    -ms-text-shadow: 0 9px 10px rgba(255, 190, 40, .8);
    -webkit-text-shadow: 0 9px 10px rgba(255, 190, 40, .8);
    text-shadow: 0 9px 10px rgba(255, 190, 40, .8);
}
.qj_page .tuan .ten .t {
    -moz-text-shadow: 0 9px 10px rgba(255, 50, 60, .8);
    -ms-text-shadow: 0 9px 10px rgba(255, 50, 60, .8);
    -webkit-text-shadow: 0 9px 10px rgba(255, 50, 60, .8);
    text-shadow: 0 9px 10px rgba(255, 50, 60, .8);
}
.qj_page .tuan .six .zhe {
    color: #fff;
}
.qj_page .tuan .item.three .desc span {
    font-size: 24px;
    color: #fef605;
}
.qj_page .tuan .item.ten .desc span {
    font-size: 24px;
    color: #fef605;
}
.qj_page .tuan .youhui {
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin: 20px 0 0 5px;
}
.qj_page .tuan .yuan {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 8px 0 0 5px;
    line-height: 20px;
    text-decoration: line-through;
}
.qj_page .tuan .btn {
    display: block;
    width: 217px;
    height: 49px;
    background: url(../images/8.png);
    text-align: center;
    margin: 40px auto 0;
}
.qj_page .tuan .btn span {
    display: inline-block;
    line-height: 48px;
    color: #279bff;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.qj_page .tuan .btn:hover span {
    color: #25a5fe;
}
.qj_page .tuan .btn span:after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../images/9.png) 0 0 no-repeat;
    margin: auto;
    top: 0;
    right: -30px;
    bottom: 0;
}
.qj_page .tuan .item.six .btn span {
    color: #ff8e01;
}
.qj_page .tuan .item.six .btn:hover span {
    color: #ffac2a;
}
.qj_page .tuan .item.six .btn span:after {
    background-position: -20px 0;
}
.qj_page .tuan .item.ten .btn span {
    color: #ff4b4b;
}
.qj_page .tuan .item.ten .btn:hover span {
    color: #ff6464;
}
.qj_page .tuan .item.ten .btn span:after {
    background-position: -40px 0;
}
.qj_page .shuoming {
    width: 1200px;
    margin: -26px auto 0;
}
.qj_page .shuoming .title {
    height: 240px;
    background: url(../images/4.png) center top no-repeat;
}
.qj_page .shuoming .list {
    margin-top: -20px;
}
.qj_page .shuoming .list img {
    display: block;
    margin: 0 auto;
}
.qj_page .shuoming .item {
    overflow: hidden;
    margin-top: 15px;
    padding-left: 330px;
}
.qj_page .shuoming .item span {
    float: left;
    width: 40px;
    padding-right: 3px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    background: url(../images/7.png);
    text-align: center;
}
.qj_page .shuoming .item p {
    float: left;
    color: #5d5685;
    line-height: 40px;
    font-size: 20px;
    margin-left: 20px;
}
.qj_page .dongtai {
    width: 1200px;
    margin: 40px auto 0;
    padding-bottom: 50px;
}
.qj_page .dongtai .title {
    height: 215px;
    background: url(../images/5.png) center top no-repeat;
    margin-bottom: 15px;
}
.qj_page .dongtai .list {
    overflow: hidden;
}
.qj_page .dongtai .item {
    float: left;
    width: 50%;
    padding: 15px 0;
}
.qj_page .dongtai .item .img {
    float: left;
    margin-left: 110px;
}
.qj_page .dongtai .item .img img {
    width: 36px;
    height: 36px;
    display: block;
}
.qj_page .dongtai .item > div {
    font-size: 18px;
}
.qj_page .dongtai .item .name {
    float: left;
    line-height: 36px;
    margin-left: 10px;
    color: #1887e4;
}
.qj_page .dongtai .item .cy {
    float: left;
    line-height: 36px;
    margin-left: 4px;
    color: #d0cddd;
}
.qj_page .dongtai .item .type {
    float: left;
    line-height: 36px;
    margin-left: 4px;
    color: #5d5686;
}
.qj_page .dongtai .item .time {
    float: left;
    line-height: 36px;
    margin-left: 30px;
    color: #5d5686;
}
.qj_page .dongtai .swiper {
    height: 264px;
    overflow: hidden;
}

/* 提示窗口 */
.tipBox {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    left: 0;
    top: 0;
    overflow-y: scroll;
}
.tipBox .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: #000;
    background: rgba(0, 0, 0, 0.3);
    filter: alpha(opacity=30);
}
.tipBox .content {
    position: absolute;
    width: 496px;
    height: 280px;
    background: #fff;
    z-index: 2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.tipBox .title {
    font-size: 24px;
    color: #666;
    text-align: center;
    line-height: 32px;
    margin-top: 60px;
}
.tipBox .desc {
    font-size: 16px;
    color: #999;
    text-align: center;
    line-height: 20px;
    margin-top: 30px;
}
.tipBox .btn {
    padding-top: 40px;
    text-align: center;
}
.tipBox .btn button {
    width: 160px;
    color: #fff;
    font-size: 16px;
    height: 46px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #0793f6;
    margin-right: 20px;
    cursor: pointer;
}
.tipBox .btn button:hover {
    background: #25a5fe;
}
.tipBox .btn button.fail {
    background: #dbdbdb;
}
.tipBox .btn button.fail:hover {
    background: #ccc;
}
.tipBox .close {
    position: absolute;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: url(../images/10.png);
    top: 14px;
    right: 14px;
}

/* 邀请拼团 */
.yq_page .banner {
    background-image: url(../images/bg2.jpg);
    overflow: hidden;
}
.yq_page .hongbao {
    width: 972px;
    height: 536px;
    background: url(../images/11.png);
    margin: 80px auto 0;
    position: relative;
}
.yq_page .hongbao .time {
    width: 170px;
    height: 56px;
    background: url(../images/12.png);
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    position: absolute;
    margin: auto;
    left: 0;
    top: -20px;
    right: 0;
}
.yq_page .hongbao .h1 {
    font-size: 24px;
    color: #fe5557;
    line-height: 30px;
    padding-top: 50px;
    text-align: center;
}
.yq_page .hongbao .h2 {
    font-size: 18px;
    color: #666;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
}
.yq_page .hongbao .names {
    text-align: center;
    padding-top: 20px;
}
.yq_page .hongbao .names ul {
    display: inline-block;
    overflow: hidden;
}
.yq_page .hongbao .names li {
    float: left;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.yq_page .hongbao .names img {
    width: 50px;
    height: 50px;
}
.yq_page .hongbao .price {
    padding-top: 20px;
}
.yq_page .hongbao .price span, .yq_page .hongbao .price p {
    display: block;
    font-size: 26px;
    font-weight: bold;
    color: #f46c62;
    line-height: 32px;
    text-align: center;
}
.yq_page .hongbao .desc {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    margin-top: 50px;
    text-align: center;
}
.yq_page .hongbao .copy {
    width: 715px;
    height: 100px;
    background: url(../images/13.png);
    margin: 10px auto 0;
    overflow: hidden;
}
.yq_page .hongbao .copy p {
    float: left;
    line-height: 46px;
    font-size: 14px;
    color: #7a7a7a;
    margin: 11px 0 0 40px;
}
.yq_page .hongbao .copy input {
    float: left;
    height: 46px;
    line-height: 46px\9;
    width: 160px;
    margin: 11px 0 0 4px;
    color: #7a7a7a;
}
.yq_page .hongbao .copy a {
    float: right;
    width: 152px;
    height: 46px;
    line-height: 46px;
    background: url(../images/16.png);
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 11px 28px 0 0;
}
.yq_page .hongbao .copy a:hover {
    background: url(../images/17.png);
}
.yq_page .hongbao .lijipt {
    overflow: hidden;
}
.yq_page .hongbao .ptBtn {
    width: 259px;
    height: 100px;
    background: url(../images/14.png);
    margin: 70px auto 0;
    text-align: center;
}
.yq_page .hongbao .ptBtn button {
    font-size: 24px;
    color: #ff4b4a;
    width: 220px;
    height: 58px;
    background: transparent;
    margin-top: 6px;
    cursor: pointer;
}
.yq_page .hongbao .ptBtn button:hover {
    color: #ff6464;
}
.yq_page .content {
    margin: auto;
    padding-bottom: 130px;
    background-position: center 180px;
}

/* 即将团满 */
.befull {
    width: 1200px;
    margin: 0 auto 35px;
}
.befull .title {
    height: 215px;
    background: url(../images/tit3.png) center top no-repeat;
    margin-bottom: 5px;
}
.befull .list {
    *zoom: 1;
}
.befull .list:after {
    display: block;
    clear: both;
    height: 0;
    content: "\200B";
}
.befull li {
    float: left;
    width: 265px;
    padding-bottom: 40px;
    margin: 0 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 8px rgba(232, 232, 232, .5);
    -moz-box-shadow: 0 0 8px rgba(232, 232, 232, .5);
    -ms-box-shadow: 0 0 8px rgba(232, 232, 232, .5);
    -o-box-shadow: 0 0 8px rgba(232, 232, 232, .5);
    box-shadow: 0 0 8px rgba(232, 232, 232, .5);
}
.befull li .bg {
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
}
.befull li .bg-red {
    background: url(../images/bg-red.png) no-repeat 0 0;
}
.befull li .bg-yellow {
    background: url(../images/bg-yellow.png) no-repeat 0 0;
}
.befull li .bg-blue {
    background: url(../images/bg-blue.png) no-repeat 0 0;
}
.befull li .num {
    float: left;
    width: 85px;
    height: 38px;
    line-height: 38px;
    padding: 57px 0 0 21px;
    text-align: center;
}
.befull li .num strong {
    font-size: 36px;
}
.befull li .bg-red .num {
    color: #ff636a;
    font-size: 14px;
}
.befull li .bg-yellow .num {
    color: #ff9c00;
    font-size: 14px;
}
.befull li .bg-blue .num {
    color: #27a2ff;
    font-size: 14px;
}
.befull li .tit, .befull li .ct {
    width: 130px;
    margin-left: 125px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.befull li .tit {
    overflow: hidden;
    height: 30px;
    padding-top: 50px;
    line-height: 30px;
    font-weight: 700;
    font-size: 20px;
}
.befull li .ct {
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}
.befull li h2 {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    color: #666;
    text-align: center;
}
.befull li h2 .red {
    color: #ff4d4e;
    font-size: 22px;
}
.befull li h2 .yellow {
    color: #ff9c00;
    font-size: 22px;
}
.befull li .time {
    overflow: hidden;
    height: 34px;
    line-height: 34px;
    margin-bottom: 13px;
    text-align: center;
    font-size: 14px;
    color: #999;
}
.befull li .icon-time {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin: -3px 6px 0 0;
    background: url(../images/time.png) no-repeat 0 0;
}
.befull li .btn {
    display: block;
    width: 154px;
    height: 41px;
    margin: 0 auto;
}
.befull li .btn-red {
    background: url(../images/btn-red.png) no-repeat 0 0 !important;
}
.befull li .btn-yellow {
    background: url(../images/btn-yellow.png) no-repeat 0 0 !important;
}
.befull li .btn-blue {
    background: url(../images/btn-blue.png) no-repeat 0 0 !important;
}

/* 买VIP送VIP */
.pt-vip {
    width: 1200px;
    margin: 0 auto 35px;
}
.pt-vip .title {
    height: 215px;
    background: url(../images/vip-tit.png) center top no-repeat;
    margin-bottom: 5px;
}
.pt-vip .list {
    width: 1135px;
    height: 374px;
    margin: 0 auto;
    background: url(../images/vip-ct.png) no-repeat center 0;
}
.pt-vip .item {
    float: left;
    width: 498px;
    padding: 79px 0 0;
    text-align: center;
    color: #fff;
}
.pt-vip .item2 {
    margin-left: 125px;
}
.pt-vip .item .slogan {
    position: relative;
    padding: 37px 0 0;
    line-height: 54px;
    font-size: 24px;
    font-weight: 700;
}
.pt-vip .item .slogan:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 26px;
    height: 2px;
    margin-left: -13px;
    background: #fff;
}
.pt-vip .item .desc {
    padding: 25px 0 0;
    font-size: 18px;
    line-height: 26px;
}
.pt-vip .other {
    text-align: center;
    padding: 68px 0 0;
}
.pt-vip .other p {
    line-height: 40px;
    font-size: 24px;
    color: #3e3e3e;
    font-weight: 700;
}
.pt-vip .other a {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    width: 240px;
    height: 74px;
    background: url(../images/vip-btn.png) no-repeat center 0;
}