@charset "utf-8";
@import url(../../common/common-pc.less);

@page-w: 1200px;
@brown: #ce9c6b;
@yellow: #ffd89b;
@gray: #0d0d0d;
@bg: #020202;

body {
    background: @bg;
}
@font-face {
    font-family: "avant";
    src: url("../fonts/avant.eot"); /* IE9 */
    src: url("../fonts/avant.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("../fonts/avant.woff") format("woff"), /* chrome、firefox */
    url("../fonts/avant.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("../fonts/avant.svg#avant") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'sybold';
    src: url('../fonts/sybold.otf') format('truetype');
}
@font-face {
    font-family: 'synormal';
    src: url('../fonts/synormal.otf') format('truetype');
}
@font-face {
    font-family: 'sylight';
    src: url('../fonts/sylight.otf') format('truetype');
}
@font-face {
    font-family: 'syreg';
    src: url('../fonts/syreg.otf') format('truetype');
}
@font-face {
    font-family: 'symed';
    src: url('../fonts/symed.otf') format('truetype');
}
.avant {
    font-family: 'avant';
}
.anim {
    -webkit-transition: all .3s cubic-bezier(.215, .61, .355, 1) 0s;
    transition: all .3s cubic-bezier(.215, .61, .355, 1) 0s;
}
.w300 {
    width: 300px;
}
.w900 {
    width: 900px;
}

.tipicon {
    .dis(ib);
    vertical-align: middle;
    width: 75px;
    height: 75px;
    background: url(../images/tipicon.png) no-repeat;
}
.tipicon-zan {
    width: 75px; height: 75px;
    background-position: -20px -123px;
}
.tipicon-liwu {
    width: 65px; height: 63px;
    background-position: -20px -20px;
}
.tipicon-gou {
    width: 75px; height: 75px;
    background-position: -20px -238px;
}
.tipicon-tan {
    width: 75px; height: 75px;
    background-position: -20px -353px;
}
.arrow-r {
    .dis(ib);
    vertical-align: middle;
    width: 7px;
    height: 11px;
    margin: -3px 0 0 8px;
    background: url(../images/arrow-r.png) no-repeat 0 0;
}
.zt {
    &btn {
        .dis(ib);
        vertical-align: top;
        text-align: center;
        &-yellow {
            background: @yellow !important;
            color: @bg !important;
        }
        &-black {
            background: @gray !important;
            color: @yellow !important;
        }
    }
    &icon {
        .dis(ib);
        vertical-align: middle;
        background: url(../images/zticon.png) no-repeat;
    }
    // banner
    &-banner {
        padding: 730px 0 0;
        margin-bottom: 50px;
        background: url(../images/banner.jpg) no-repeat center 0;
        border-bottom: 1px solid #1f1f1f;
    }
    // 导航
    &-nav {
        .pos(r);
        height: 81px;
        font-size: 18px;
        a {
            .dis(ib);
            vertical-align: top;
            line-height: 80px;
            color: #666;
            font-family: 'sylight';
            &:hover, &.cur {
                color: @brown;
                border-bottom: 3px solid @brown;
                font-family: 'symed';
            }
        }
        .fll {
            a {
                margin: 0 120px 0 15px;
            }
        }
        .fr {
            a {
                margin: 0 0 0 86px;
            }
        }
        .ztbtn-box {
            .pos(a);
            top: -10px;
            left: 50%;
            .dis(ib);
            vertical-align: top;
            margin-left: -230px;
            font-size: 0;
            .ztbtn {
                width: 214px;
                .height(102px);
                font-size: 19px;
                font-weight: 700;
                font-family: 'symed';
                .anim();
                &:hover {
                    border: none;
                    .translate(0, -10px);
                }
                &-yellow {
                    .zticon {
                        width: 18px;
                        height: 18px;
                        margin: -3px 0 0 12px;
                        background-position: -10px -111px;
                    }
                }
                &-black {
                    .zticon {
                        width: 17px;
                        height: 17px;
                        margin: -3px 12px 0 0;
                        background-position: -10px -74px;
                    }
                }
            }
        }
    }
    /* 首页 */
    // 关于十强
    &-about {
        padding: 60px 0 60px;
        .tit {
            line-height: 52px;
            font-size: 52px;
            color: @brown;
            p {
                line-height: 50px;
                margin-top: 25px;
                font-size: 26px;
                color: #f1f1f1;
                font-family: 'sylight';
            }
        }
        .list {
            p {
                line-height: 35px;
                color: #999;
                text-align: justify;
            }
            .ztbtn {
                width: 195px;
                .height(50px);
                margin-top: 52px;
                font-size: 16px;
                border: 3px solid @brown;
                color: @brown;
                font-family: 'syreg';
                .zticon {
                    width: 31px;
                    height: 12px;
                    margin: -3px 0 0 52px;
                    background-position: -10px -10px;
                    -webkit-transition: transform .6s cubic-bezier(.215, .61, .355, 1) 0s;
                    transition: transform .6s cubic-bezier(.215, .61, .355, 1) 0s;
                }
                &:hover {
                    border: 3px solid @yellow;
                    color: @yellow;
                    .zticon {
                        .translate(10px, 0);
                        background-position: -10px -42px;
                    }
                }
            }
        }
    }
    // 大赛规则
    &-rule {
        padding: 60px 0;
        .tit {
            line-height: 52px;
            font-size: 52px;
            color: @brown;
            p {
                line-height: 50px;
                margin-top: 25px;
                font-size: 26px;
                color: #f1f1f1;
                font-family: 'sylight';
            }
        }
        .list {
            font-size: 0;
            li {
                .dis(ib);
                vertical-align: top;
                width: 449px - 64 - 48;
                height: 520px - 46;
                padding: 46px 64px 0 48px;
                border-left: 1px solid @bg;
                border-bottom: 1px solid @bg;
                background: @gray;
                .title {
                    line-height: 60px;
                    padding: 0 0 17px 22px;
                    font-size: 22px;
                    color: #fff;
                    font-family: 'sylight';
                    img {
                        .dis(b);
                        width: 55px;
                        height: 55px;
                    }
                }
                p {
                    color: #999;
                    font-size: 16px;
                    line-height: 31px;
                    padding: 0 0 0 22px;
                    background: url(../images/dot.png) no-repeat 0 15px;
                    span {
                        color: @brown;
                    }
                }
                .ztbtn {
                    margin: 122px 0 0 22px;
                    color: @brown;
                    font-size: 16px;
                    font-family: 'syreg';
                    .zticon {
                        width: 31px;
                        height: 12px;
                        margin: -3px 0 0 36px;
                        background-position: -10px -10px;
                        -webkit-transition: transform .6s cubic-bezier(.215, .61, .355, 1) 0s;
                        transition: transform .6s cubic-bezier(.215, .61, .355, 1) 0s;
                    }
                    &:hover {
                        // color: @yellow;
                        .zticon {
                            .translate(10px, 0);
                            // background-position: -10px -42px;
                        }
                    }
                }
                &.li2 {
                    height: 330px - 46px;
                }
            }
        }
    }

    &-tit {
        .pos(r);
        line-height: 52px;
        font-size: 52px;
        color: @brown;
        &:after {
            content: '';
            .pos(a);
            top: 50%;
            left: 50%;
            margin: 0 0 0 -180px;
            width: 400px;
            height: 1px;
            background: #262626;
        }
        > div {
            .dis(ib);
            vertical-align: top;
        }
        p {
            float: right;
            line-height: 52px;
            margin-top: 25px;
            font-size: 26px;
            color: #f1f1f1;
            font-family: 'sylight';
        }
    }
    // 大赛日程
    &-times {
        padding: 60px 0 90px;
        .list {
            margin-top: 70px;
            font-size: 0;
            height: 137px;
            background: url(../images/box-bg.png) no-repeat 0 0;
            ul {
                padding-left: 35px;
            }
            li {
                .dis(ib);
                vertical-align: top;
                padding: 40px 0 0;
                width: 156px;
                line-height: 32px;
                margin: 0 34px;
                text-align: center;
                color: #999;
                font-size: 16px;
                font-family: 'sylight';
                p {
                    color: #ccc;
                    font-size: 20px;
                }
                &.cur {
                    .pos(r);
                    top: -24px;
                    padding: 64px 0 0;
                    height: 186px - 64;
                    background: @yellow;
                    color: @bg;
                    p {
                        color: @bg;
                    }
                }
            }
        }
    }

    // 大赛评委
    &-judges {
        padding: 60px 0 90px;
        .list {
            margin-top: 70px;
            font-size: 0;
            li {
                .pos(r);
                .dis(ib);
                vertical-align: top;
                width: 400px;
                height: 402px;
                border-left: 1px solid @bg;
                border-bottom: 1px solid @bg;
                .img {
                    width: 400px;
                    height: 402px;
                }
                .bg {
                    .pos(a);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    img {
                        .dis(n);
                        .pos(a);
                        top: 148px;
                        left: 33px;
                        width: 20px;
                    }
                }
                .info {
                    .pos(a);
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 132px;
                    background: url(../images/person-bg.png) no-repeat 0 0;
                    strong {
                        .dis(b);
                        line-height: 40px;
                        margin: 34px 0 0 32px;
                        color: @yellow;
                        font-size: 30px;
                        font-family: 'symed';
                    }
                    p {
                        margin: 0 0 0 32px;
                        line-height: 35px;
                        color: #999;
                        font-size: 18px;
                        font-family: 'sylight';
                    }
                }
                .slogan {
                    .dis(n);
                    .pos(a);
                    top: 35px;
                    left: 35px;
                    font-size: 30px;
                    font-family: 'sybold';
                    color: #222;
                }
                &.li1 {
                    .slogan {
                        font-size: 36px;
                    }
                    .bg {
                        img {
                            top: 148px - 38;
                        }
                    }
                }
                &:hover {
                    .bg {
                        background: @yellow;
                        img {
                            .dis(b);
                        }
                    }
                    .slogan {
                        .dis(b);
                    }
                    .info {
                        background: none;
                        strong, p {
                            color: @bg
                        }
                        strong {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }

    // 大赛奖品
    &-prize {
        height: 678px;
        margin-top: 160px;
        background: @gray;
        .fll {
            .pos(r);
            top: -34px;
        }
        .fr {
            width: 644px;
        }
        .prize-box {
            .pos(r);
            width: 321px;
            height: 712px - 64;
            padding: 64px 71px 0;
            background: @yellow;
            img {
                .dis(b);
                width: 321px;
                height: 329px;
                margin-bottom: 15px;
            }
            .title {
                line-height: 50px;
                color: @gray;
                font-size: 30px;
                font-family: 'symed';
            }
            p {
                line-height: 30px;
                color: #050505;
                font-size: 17px;
                font-family: 'sylight';
                text-align: justify;
            }
            .btn-box {
                .pos(a);
                bottom: 90px;
                left: 71px;
                font-size: 0;
                a {
                    .dis(ib);
                    vertical-align: top;
                    width: 42px;
                    height: 40px;
                    margin-right: 18px;
                    background: url(../images/arrow.png) no-repeat;
                    &.prev {
                        background-position: 0 0;
                        &:hover {
                            background-position: 0 -49px;
                        }
                    }
                    &.next {
                        background-position: -60px 0;
                        &:hover {
                            background-position: -60px -49px;
                        }
                    }
                }
            }
        }

        .zt-tit {
            margin-top: 80px;
            &:after {
                width: 230px;
                margin: 0 0 0 -95px;
            }
        }
        .list {
            margin-top: 80px;
            font-size: 0;
            ul {
                margin-right: -29px;
            }
            li {
                .pos(r);
                .dis(ib);
                vertical-align: top;
                width: 139px;
                height: 138px;
                margin: 0 29px 42px 0;
                line-height: 138px;
                font-size: 16px;
                text-align: center;
                background: #151515;
                cursor: pointer;
                a {
                    .dis(b);
                    color: #999;
                    font-family: 'syreg';
                    span {
                        font-size: 12px;
                        .dis(ib);
                        vertical-align: middle;
                        margin: 0 0 0 10px;
                    }
                    &:hover {
                        color: @yellow;
                    }
                }
                .img {
                    width: 139px;
                    height: 138px;
                }
                &.cur {
                    &:before {
                        content: '';
                        .pos(a);
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border: 3px solid @yellow;
                    }
                }
            }
        }
    }

    // 合作媒体
    &-media {
        padding: 120px 0 60px;
        .list {
            padding: 60px 0 0;
            font-size: 0;
            ul {
                margin-right: -2px;
            }
            li {
                .pos(r);
                .dis(ib);
                vertical-align: top;
                width: 201px;
                height: 306px;
                background: @gray;
                text-align: center;
                border-right: 1px solid @bg;
                border-bottom: 1px solid @bg;
                .ecode {
                    .dis(n);
                    .pos(a);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                .img {
                    margin-top: 60px;
                    width: 90px;
                    height: 90px;
                    .bdr(50%);
                }
                .name {
                    padding: 10px 0 0;
                    line-height: 48px;
                    font-size: 20px;
                    color: #fff;
                    font-family: 'synormal';
                }
                .desc {
                    line-height: 25px;
                    font-size: 14px;
                    color: #999;
                }
                &:hover {
                    .ecode {
                        .dis(b);
                    }
                }
            }
        }
        .item {
            padding: 70px 0 0;
            p {
                .pos(r);
                .dis(ib);
                vertical-align: top;
                width: 350px;
                text-align: center;
                &:before {
                    content: '';
                    .pos(a);
                    left: 0;
                    top: 8px;
                    width: 1px;
                    height: 34px;
                    background: #262626;
                }
                &.first {
                    width: 260px;
                    text-align: left;
                    &:before {
                        .dis(n);
                    }
                }
                &.last {
                    width: 240px;
                    text-align: right;
                }
                img {
                    .dis(n);
                    height: 45px;
                    &.gray {
                        .dis(i);
                    }
                }
                a:hover {
                    img {
                        .dis(i);
                        height: 45px;
                        &.gray {
                            .dis(n);
                        }
                    }
                }
            }
        }
    }

    /* 参选设计师 竞猜 */
    &-election {
        padding: 0 0 60px;
        .tt {
            padding: 34px 0 0;
            ul {
                margin-top: 100px;
                font-size: 0;
                text-align: right;
                li {
                    .dis(ib);
                    vertical-align: top;
                    margin-left: 50px;
                    font-family: "sylight";
                    a {
                        .dis(b);
                        height: 33px;
                        line-height: 33px;
                        color: #666;
                        font-size: 16px;
                        &:hover {
                            color: @brown;
                        }
                        &.cur {
                            color: @brown;
                        }
                    }
                }
            }
            .person {
                line-height: 70px;
                color: #999;
                font-size: 20px;
                font-family: "sylight";
                .num {
                    padding: 0 18px;
                    color: @brown;
                    font-size: 36px;
                    font-family: "Microsoft Yahei";
                }
            }
        }

        .tit {
            .pos(r);
            line-height: 40px;
            font-size: 0;
            .avant {
                padding: 5px 0 0;
                line-height: 110px;
                font-size: 52px;
                color: @brown;
            }
            h3 {
                .dis(ib);
                vertical-align: baseline;
                font-size: 35px;
                color: #f1f1f1;
                font-family: 'sylight';
            }
            span {
                margin-left: 18px;
                font-size: 16px;
                color: #666;
                font-family: 'symed';
                .num {
                    margin: 0 2px;
                    font-size: 22px;
                    color: @brown;
                    font-family: 'syreg';
                }
            }
            .more {
                color: #666;
                font-size: 14px;
                font-family: 'synormal';
            }
        }
        .list {
            ul {
                margin-right: -47px;
                font-size: 0;
            }
            li {
                .dis(ib);
                vertical-align: top;
                width: 202px;
                margin: 40px 47px 0 0;
                padding: 40px 0;
                text-align: center;
                background: @gray;
                font-family: "sylight";
                .img {
                    .ov(h);
                    width: 95px;
                    height: 95px;
                    margin: 0 auto 15px;
                    img {
                        width: 95px;
                        height: 95px;
                        .bdr(50%);
                    }
                }
                h2 {
                    .height(38px);
                    margin: 0 5px;
                    font-size: 24px;
                    font-family: "sylight";
                    a {
                        color: #fff;
                        &:hover {
                            color: @yellow;
                        }
                    }
                }
                p {
                    .height(30px);
                    margin: 0 5px;
                    font-size: 16px;
                    color: @yellow;
                }
                .ztbtn-box {
                    padding: 15px 0 0;
                    width: 100%;
                    text-align: center;
                    .ztbtn {
                        .dis(ib);
                        vertical-align: top;
                        width: 152px;
                        .height(53px);
                        .bdr(53px);
                        font-size: 16px;
                        color: #999;
                        background: #333;
                        font-family: "syreg";
                        &:hover {
                            color: #0d0d0d;
                            background: @yellow;
                        }
                        &-dis {
                            color: #0d0d0d;
                            background: @yellow;
                        }
                    }
                }
            }
        }
    }

    /* 竞猜 */
    &-guess {
        // 竞猜时间
        &-time {
            padding: 35px 0 40px;
            .tit {
                text-align: center;
                line-height: 40px;
                color: @brown;
                font-size: 18px;
            }
            .list {
                font-size: 0;
                .pos(r);
                padding: 20px 0 0;
                .times {
                    text-align: center;
                    font-size: 0;
                    .item {
                        .dis(ib);
                        vertical-align: top;
                        .num {
                            &-bg {
                                display: inline-block;
                                vertical-align: middle;
                                width: 42px;
                                height: 71px;
                                line-height: 71px;
                                margin: 0 2px;
                                text-align: center;
                                background: @gray;
                                font-size: 26px;
                                color: #bbb;
                                font-weight: 700;
                                font-family: "Microsoft Yahei";
                                .bdr(4px);
                            }
                        }
                        .txt {
                            line-height: 16px;
                            margin-top: 7px;
                            font-size: 12px;
                            color: #222;
                            font-family: "symed";
                        }
                    }
                    .dot {
                        .pos(r);
                        .dis(ib);
                        vertical-align: top;
                        width: 6px;
                        padding-top: 29px;
                        margin: 0 16px;
                        &:after, &:before {
                            content: '';
                            .dis(b);
                            width: 6px;
                            height: 6px;
                            margin-bottom: 6px;
                            background: #1d1d1d;
                            .bdr(50%);
                        }
                    }
                }
                .tips {
                    .pos(a);
                    right: 90px;
                    top: -24px;
                    line-height: 30px;
                    font-size: 16px;
                    color: #333;
                }
            }
        }
        // 竞猜规则
        &-rule {
            .tit {
                .avant {
                    line-height: 60px;
                }
            }
            .list {
                width: 712px;
                li {
                    width: auto;
                    height: 374px;
                }
            }
        }
    }

    /* 往期十强 */
    &-tendes {
        padding: 70px 0 0;
        .tit {
            .pos(r);
            line-height: 40px;
            font-size: 0;
            .avant {
                padding: 0 0 30px;
                line-height: 52px;
                font-size: 52px;
                color: @brown;
            }
            h3 {
                .dis(ib);
                vertical-align: top;
                padding-bottom: 15px;
                font-size: 26px;
                color: #f1f1f1;
                font-family: 'sylight';
            }
        }
        .list {
            padding: 10px 0 90px;
            font-size: 0;
            ul {
                margin-right: -48px;
            }
            li {
                .pos(r);
                .dis(ib);
                vertical-align: top;
                width: 202px;
                height: 221px;
                margin: 40px 48px 0 0;
                background: @gray;
                text-align: center;
                .img {
                    margin-top: 40px;
                    width: 95px;
                    height: 95px;
                    .bdr(50%);
                }
                .name {
                    padding: 10px 0 0;
                    line-height: 48px;
                    font-size: 18px;
                    color: @brown;
                    font-family: 'sylight';
                    a {
                        color: @brown;
                        &:after {
                            content: '';
                            .dis(ib);
                            vertical-align: middle;
                            margin: -3px 0 0 10px;
                            width: 17px;
                            height: 19px;
                            background: url(../images/prize.png) no-repeat 0 0;
                        }
                        &:hover {
                            color: @yellow;
                            &:after {
                                background-position: 0 -30px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* 个人拉票页 */
    &-personal {
        padding: 10px 0 0;
        .info {
            padding: 30px 0 35px;
            text-align: center;
            .img {
                .ov(h);
                width: 118px;
                height: 118px;
                margin: 0 auto 12px;
                img {
                    width: 118px;
                    height: 118px;
                    .bdr(50%);
                }
            }
            h2 {
                .height(48px);
                margin: 0 5px;
                font-size: 30px;
                color: #ccc;
                font-family: 'synormal';
            }
            p {
                .height(36px);
                margin: 0 5px;
                font-size: 20px;
                color: #666;
                font-family: 'sylight';
                .num {
                    color: @yellow;
                }
            }
        }
        .vote-box {
            .pos(r);
            width: 836px;
            height: 97px;
            line-height: 97px;
            margin: 40px auto 90px;
            font-size: 0;
            font-family: 'syreg';
            background: url(../images/vote-bg.png) no-repeat 0 0;
            .vote-copy {
                .dis(ib);
                vertical-align: top;
                font-size: 16px;
                margin-left: 145px;
                color: #666;
                cursor: pointer;
                .icon-lianjie {
                    .dis(ib);
                    vertical-align: middle;
                    padding: 5px;
                    background: #333;
                    color: @bg;
                    .bdr(50%);
                    margin: -3px 22px 0 0;
                }
            }
            .ztbtn {
                .pos(a);
                top: 50%;
                left: 50%;
                margin: -133px / 2 0 0 -133px / 2;
                width: 133px;
                height: 133px;
                line-height: 26px;
                background: @brown;
                color: #080808;
                font-size: 18px;
                cursor: pointer;
                text-align: center;
                .bdr(50%);
                &:hover {
                    background: @yellow;
                }
                span {
                    .dis(b);
                    padding: 36px 0 8px;
                    font-size: 26px;
                }
                &-dis {
                    background: @yellow;
                }
            }
            .bdsharebuttonbox {
                margin-right: 60px;
                a {
                    float: none;
                    background: none;
                    font-size: 32px;
                    background: #333;
                    color: @bg;
                    .bdr(50%);
                    margin: 0 8px;
                    .dis(ib);
                    vertical-align: middle;
                    text-indent: 0;
                    &:hover {
                        background: @brown;
                    }
                }
                span {
                    .dis(ib);
                    vertical-align: middle;
                    font-size: 16px;
                    color: #666;
                    margin-right: 12px;
                }
            }
        }
        .notices {
            position: relative;
            width: 430px;
            padding: 0 23px;
            height: 26px;
            margin: 0 auto 40px;
            overflow: hidden;
            text-align: center;
            &:before, &:after {
                content: '';
                .pos(a);
                top: 3px;
                left: 0;
                width: 23px;
                height: 23px;
                background: url(../images/notice.png) no-repeat 0 0;
            }
            &:after {
                left: auto;
                right: 0;
                background-position: 0 -30px;
            }
            ul{
                position: relative;
                top: 0;
                left: 0;
                width: 430px;
            }
            li{
                .height(26px);
                color: #666;
                font-size: 16px;
                font-family: 'sylight';
            }
        }
        .works {
            padding: 50px 0 42px;
            .list {
                padding: 90px 0 60px;
                font-size: 0;
                text-align: center;
                li {
                    .dis(ib);
                    margin-right: 6px;
                    vertical-align: middle;
                    img {
                        width: 280px;
                        height: 175px;
                    }
                    &.more {
                        .pos(r);
                        margin: 0;
                        background: @gray;
                        &:after, &:before {
                            content: '';
                            .pos(a);
                            top: 50%;
                            left: 13px;
                            width: 7px;
                            height: 7px;
                            margin-top: -3px;
                            .bdr(50%);
                            background: #333;
                        }
                        &:before {
                            left: 38px;
                        }
                        a {
                            .dis(b);
                            width: 58px;
                            height: 175px;
                            &:before {
                                content: '';
                                .pos(a);
                                top: 50%;
                                left: 26px;
                                width: 7px;
                                height: 7px;
                                margin-top: -3px;
                                .bdr(50%);
                                background: #333;
                            }
                            &:hover {
                                background: #1a1a1a;
                            }
                        }
                    }
                }
            }
        }
        .supporter {
            padding: 60px 0;
            .list {
                margin: 0 auto;
                padding: 20px 0 0;
                font-size: 0;
                ul {
                    margin-right: -10px;
                }
                li {
                    .dis(ib);
                    vertical-align: middle;
                    width: 122px;
                    margin-top: 53px;
                    text-align: center;
                    img {
                        .dis(b);
                        width: 78px;
                        height: 78px;
                        margin: 0 auto 10px;
                        .bdr(50%);
                    }
                    p {
                        .height(22px);
                        margin: 0 5px;
                        font-size: 16px;
                        color: #666;
                        font-family: 'sylight';
                        a {
                            color: #666;
                            &:hover {
                                color: @yellow;
                            }
                        }
                    }
                }
            }
        }
    }

    /* 抽奖 */
    &-luckdraw {
        // 抽奖规则
        &-rule {
            .tit {
                .avant {
                    line-height: 60px;
                }
            }
            .list {
                width: 598px;
                li {
                    width: auto;
                    height: 340px;
                }
            }
        }
        // 抽奖环节
        &-turntable {
            padding: 60px 0;
            .table {
                width: 696px;
                margin: 0 auto;
                border-spacing: 0;
                border-collapse: collapse;
                font-size: 0;
                .luck-unit {
                    .pos(r);
                    width: 230px;
                    height: 230px;
                }
                .active {
                    &:after {
                        content: '';
                        .pos(a);
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border: 3px solid @yellow;
                    }
                }
                .luck-btn {
                    .pos(r);
                    .dis(b);
                    width: 230px;
                    height: 230px;
                    cursor: pointer;
                    background: url(../images/lucky.jpg) no-repeat 0 0;
                    .luck-num {
                        .pos(a);
                        top: 150px;
                        left: 0;
                        width: 100%;
                        line-height: 24px;
                        text-align: center;
                        color: @bg;
                        font-size: 18px;
                        font-family: 'symed';
                    }
                }
            }
            #luck {
                padding-top: 30px;
            }
            .mylucydraw {
                width: 696px;
                margin: 0 auto;
                text-align: right;
                font-size: 18px;
                line-height: 40px;
                font-family: 'sylight';
                a {
                    color: @brown;
                    &:hover {
                        color: @yellow;
                        .arrow-r {
                            background-position: 0 -20px;
                        }
                    }
                }
            }
        }
        // 获奖名单
        &-win {
            padding: 60px 0;
            .zt-tit {
                p {
                    margin: 0;
                }
            }
            .list {
                .ov(h);
                height: 200px;
                margin: 20px 0 0;
                font-size: 0;
                ul {
                    margin-right: -63px;
                }
                li {
                    .dis(ib);
                    vertical-align: middle;
                    width: 250px;
                    margin: 48px 63px 0 0;
                    img {
                        display: inline-block;
                        width: 52px;
                        height: 52px;
                        .bdr(50%);
                    }
                    p {
                        .height(24px);
                        font-size: 14px;
                        margin-left: 62px;
                        color: #666;
                        &.name {
                            padding-top: 2px;
                            font-size: 16px;
                            a {
                                color: #666;
                                &:hover {
                                    color: @brown;
                                }
                            }
                        }
                        span {
                            margin-left: 5px;
                            color: @brown;
                        }
                    }
                }
            }
        }
        // 奖品提供商
        .zt-media {
            padding: 60px 0 80px;
        }
    }
}

// 评论
.ct-comment-new {
    padding: 0 0 60px;
    background: none;
    h2 {
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        font-size: 26px;
        color: #fff;
    }
    h3 {
        padding: 0;
        color: @brown;
    }
    li {
        padding: 38px 0 25px;
        border-bottom: 1px solid @gray;
    }
    .ct-comment-box {
        padding: 0;
    }
    .input {
        width: 1220px;
        height: 86px;
        .textarea {
            width: 1180px;
            background: #0d0d0d !important;
            border: none;
            color: #333;
            &:focus {
                background: #0d0d0d !important;
            }
            &::-webkit-input-placeholder {
                color: #333
            }
            &::-moz-placeholder {
                color: #333
            }
            &:-moz-placeholder {
                color: #333
            }
            &:-ms-input-placeholder {
                color: #333
            }
        }
        .tips {
            width: 1190px;
            background: #0d0d0d;
            color: #333;
            a {
                color: @brown;
                &:hover {
                    color: @yellow;
                }
            }
        }
    }
    .num-box {
        color: #333;
    }
    .btn-smile {
        .dis(n);
    }
    .btn-box {
        .btn-comment {
            background: @brown;
            color: #000;
            span {
                color: #000;
            }
            &:hover {
                background: @yellow;
                span {
                    color: #000;
                }
            }
        }
        .btn-replay, .btn-del, .btn-praise {
            color: #333;
            span {
                color: #333 !important;
            }
            &:hover {
                color: @yellow !important;
                span {
                    color: @yellow !important;
                }
            }
        }
    }
    .tt {
        a {
            color: @brown;
            &:hover {
                color: @yellow;
            }
        }
    }
    .info {
        color: #999;
        strong {
            a {
                color: #666;
                &:hover {
                    color: @yellow;
                }
            }
        }
        .onimg {
            img {
                margin: 0 auto;
            }
        }
    }
    .com-box {
        .reply-form {
            width: 1141px;
            .text {
                width: 1101px;
                background: #0d0d0d !important;
                border: none;
                color: #333;
                &:focus {
                    background: #0d0d0d !important;
                }
                &::-webkit-input-placeholder {
                    color: #333
                }
                &::-moz-placeholder {
                    color: #333
                }
                &:-moz-placeholder {
                    color: #333
                }
                &:-ms-input-placeholder {
                    color: #333
                }
            }
            .btn-box {
                a.fll {
                    .dis(n);
                }
                .btn {
                    background: @brown;
                    color: #000;
                    border: none !important;
                    span {
                        color: #000;
                    }
                    &:hover {
                        background: @yellow;
                        span {
                            color: #000;
                        }
                    }

                }
            }
        }
    }
    .reply-box {
        width: 1105px;
        background: @gray;
        .info {
            .btn-replay {
                color: #666;
                &:hover {
                    color: @yellow;
                }
            }
        }
        .com-box {
            .reply-form {
                .text {
                    width: 1021px !important;
                    background: #131313 !important;
                }
            }
        }
    }
}
.page {
    strong, .cur {
        color: #333;
        background: @brown;
    }
    a {
        background: @gray;
        color: #333;
        &:hover {
            color: #333;
            background: @brown;
        }
    }
    &-election {
        padding-top: 60px;
    }
}

.fixed-nav {
    .pos(f);
    top: 50%;
    right: 100px;
    width: 134px;
    height: 440px;
    margin-top: -220px;
    background: @bg;
    border: 2px solid @gray;
    .title {
        .pos(r);
        top: -14px;
        left: -10px;
        width: 158px;
        .height(67px);
        background: @yellow;
        color: @bg;
        text-align: center;
        cursor: pointer;
        .zticon {
            width: 18px;
            height: 18px;
            margin: -3px 0 0 12px;
            background-position: -10px -111px;
        }
    }
    li {
        line-height: 52px;
        font-size: 16px;
        font-family: 'sylight';
        text-align: center;
        .arrow-top {
            .dis(ib);
            vertical-align: middle;
            width: 13px;
            height: 9px;
            margin: -3px 0 0 19px;
            background: url(../images/arrow-top.png) no-repeat 0 0;
        }
        a {
            color: #666;
            &:hover {
                color: #ccc;
                font-family: 'syreg';
            }
            &.backtop {
                font-family: 'syreg';
                &:hover {
                    color: @brown;
                    .arrow-top {
                        background-position: 0 -20px;
                    }
                }
            }
        }
        &.cur {
            a {
                color: #ccc;
                font-family: 'syreg';
            }
        }
    }
}

// 弹窗
.ztpopup {
    .pos(f);
    top: 0;
    left: 0;
    z-index: 990;
    width: 100%;
    height: 100%;
    font-size: 0;
    background: rgba(0, 0, 0, .9);
    &-box {
        .pos(a);
        width: 500px;
        padding-bottom: 60px;
        background: #0d0d0d;
        .bdr(4px);
        text-align: center;
    }
    &-close {
        .pos(a);
        top: 10px;
        right: 10px;
        padding: 10px;
        .anim();
        span {
            font-size: 14px;
            color: #333;
        }
        &:hover {
            .transform(rotate(180deg));
        }
    }
    &-ct {
        padding: 50px 0 0;
        p {
            padding-top: 20px;
            line-height: 35px;
            font-size: 18px;
            color: #999;
            text-align: center;
            font-family: 'sylight';
        }
    }
    &-btn {
        padding-top: 45px;
        .ztbtn {
            .dis(ib);
            width: 170px;
            .height(44px);
            font-size: 14px;
            color: @bg;
            background: @yellow;
            .bdr(4px);
            &-sure {
                .dis(ib);
                width: 130px;
                .height(36px);
                font-size: 14px;
                color: @bg;
                background: @yellow;
                .bdr(4px);
            }
            &-cancel {
                .dis(ib);
                width: 128px;
                .height(34px);
                margin-left: 15px;
                font-size: 14px;
                color: #666;
                border: 1px solid #333;
                .bdr(4px);
                &:hover {
                    color: @yellow;
                    border: 1px solid @yellow;
                }
            }
        }
    }
    &-tan {
        .ztpopup-box {
            width: 440px;
        }
    }
    &-zan {
        .ztpopup-box {
            width: 600px;
        }
    }
    &-lucydraw {
        .pos(f);
        top: 0;
        left: 0;
        z-index: 990;
        width: 100%;
        height: 100%;
        font-size: 0;
        background: rgba(0, 0, 0, .9);
        .ztpopup-box {
            width: 690px;
            padding: 60px 0 65px;
            .tipicon {
                margin-bottom: 42px;
            }
            li {
                font-size: 18px;
                color: #999;
                font-family: 'sylight';
                line-height: 56px;
                border-bottom: 1px solid #1b1b1b;
                text-align: left;
                a {
                    font-size: 16px;
                    color: @brown;
                    &:hover{
                        color: @yellow;
                    }
                }
            }
            .ztpopup-ct {
                padding: 0 80px;
            }
        }
    }
}

.user-tip {
    background: #0d0d0d;
    .icon-gou {
        background: @yellow;
        color: @bg;
    }
}