@charset "utf-8";
@import url(../../../common/common-pc.less);
@page-w: 1220px;
@green: #00b266;
@green-h: #00ca69;
@yellow: #f64a1a;
@yellow-h: #ff6815;
body {
    min-width: @page-w;
    margin: 0;
    color: #333;
    font: 16px "Microsoft YaHei","微软雅黑",Arial,"Hiragino Sans GB","Open Sans",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, blockquote, p {
    padding: 0;
    margin: 0;
}
ol, ul, li {
    list-style: none;
}
input, button, textarea {
    font-family: Arial,"Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
body input:-webkit-autofill, body textarea:-webkit-autofill, body select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
img {
    vertical-align: top;
    border: 0;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: Arial,"Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
h1 {
    .dis(i);
    font-size: 16px;
}
a, label {
    blr: ~'expression(this.onFocus=this.blur())';
}
:focus {
    outline-style: none;
}
em, i {
    font-style: normal;
}
a {
    color: #333;
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
    &:active {
    }
}
input {
	&::-webkit-input-placeholder{
		color: #999;
	}
	&::-moz-placeholder{
		color: #999;
	}
	&:-moz-placeholder{
		color: #999;
	}
	&:-ms-input-placeholder{
		color: #999;
	}
}
.fl {
    float: left;
    _display: inline;
}
.fr {
    float: right;
    _display: inline;
}

body {
	min-width: @page-w;
	background: #f4f6f8;
}
.green {
    color: @green !important;
    &:hover {
        color: @green-h !important;
    }
}
.bg-gray {
    background: #f7f7f7;
}
.bg-white {
    background: #fff;
}
.shadow {
    .box-shadow(0 0 13px rgba(206, 206, 206, .75));
}
.wrap {
    width: @page-w;
    margin: 0 auto;
    .cl();
}
.bdr4 {
    .bdr(4px);
}
/* 头部 */
.header {
	.pos(r);
	z-index: 989;
	background: #fff;
	.logo {
		.dis(b);
		width: 106px;
		height: 43px;
		margin: 13px 80px 0 0;
		font-size: 0;
		background: url(../images/logo.png) no-repeat 0 0;
	}
	.nav {
		line-height: 70px;
		margin-right: -80px;
		font-size: 0;
		li {
			.dis(ib);
			vertical-align: top;
			margin-right: 80px;
			a {
				.pos(r);
				.dis(b);
				font-size: 16px;
				color: #333;
				&:hover {
					color: @yellow;
					&:after {
						.pos(a);
						bottom: 0;
						left: 0;
						content: '';
						width: 100%;
						height: 5px;
						background: @yellow;
					}
				}
			}
			&.cur {
				a {
					color: @yellow;
					&:after {
						.pos(a);
						bottom: 0;
						left: 0;
						content: '';
						width: 100%;
						height: 5px;
						background: @yellow;
					}
				}
			}
		}
	}
	.fr {
		font-size: 0;
	}
	.h {
		&-so {
			.dis(ib);
			vertical-align: top;
			margin: 13px 54px 0 0;
			font-size: 0;
			.input {
				width: 200px;
				height: 24px;
				padding: 10px 0 10px 30px;
				border: none;
				background: #f4f6f8;
				font-size: 14px;
			}
			.btn-so {
				.dis(ib);
				vertical-align: top;
				width: 64px;
				height: 44px;
				line-height: 44px;
				text-align: center;
				background: @yellow;
				border: 0;
				cursor: pointer;
				span {
					font-size: 22px;
					color: #fff;
				}
				&:hover {
					background: @yellow-h;
				}
			}
		}
		&-avatar {
			.pos(r);
			.dis(ib);
			vertical-align: top;
			width: 170px - 8;
			height: 70px;
			padding: 0 0 0 8px;
			.cl();
			.avatar {
				width: 40px;
				height: 40px;
				margin: 15px 12px 0 0;
				.bdr(50%);
			}
			.name {
				line-height: 22px;
				font-size: 14px;
				color: #222;
				font-weight: 700;
				margin: 15px 0 0 0;
				a {
					color: #222;
					&:hover {
						color: @yellow;
					}
				}
			}
			.id {
				line-height: 18px;
				font-size: 12px;
				color: #666;
			}
			&-info {
				.dis(n);
				.pos(a);
				top: 70px;
				left: 0;
				width: 100%;
				padding: 5px 0 10px;
				background: #fff;
				.box-shadow(0, 0, 15px, rgba(0, 0, 0, .1));
				li {
					line-height: 50px;
					font-size: 16px;
					color: #333;
					text-align: center;
					a {
						.dis(b);
						color: #333;
						&:hover {
							background: @yellow;
							color: #fff;
						}
					}
				}
			}
			&:hover {
				.h-avatar-info {
					.dis(b);
				}
			}
		}
		&-before, &-after {
			.dis(ib);
			vertical-align: top;
		}
		&-before {
			.btn {
				.dis(ib);
				vertical-align: top;
				width: 130px;
				height: 44px;
				line-height: 44px;
				font-size: 16px;
				color: #fff;
				margin: 13px 6px 0 10px;
				text-align: center;
				&-login {
					background: #333;
					&:hover {
						background: @yellow;
					}
				}
				&-register {
					background: @green;
					&:hover {
						background: @green-h;
					}
				}
			}
		}
	}
	.btn-upload {
		.dis(ib);
		vertical-align: top;
		width: 180px;
		height: 70px;
		line-height: 70px;
		text-align: center;
		font-size: 0;
		color: #fff;
		background: @green;
		span, strong {
			.dis(ib);
			vertical-align: middle;
		}
		span {
			margin-right: 20px;
			font-size: 20px;
		}
		strong {
			font-size: 16px;
		}
		&:hover {
			background: @green-h;
		}
	}
}
@media screen and (min-width: 1819px) {
	.header {
		.logo {
			.pos(a);
			top: 0;
			left: 60px;
			margin-right: 100px;
		}
		.nav {
			margin-right: -100px;
			li {
				margin-right: 100px;
			}
		}
		.h-so {
			.input {
				width: 250px;
			}
		}
		.h-before, .h-after {
			.pos(a);
			top: 0;
			right: 0;
		}
		.h-before {
			padding: 0 58px 0 0;
		}
	}
}

/* 通用盒子 */
.box {
    &-tab {
        padding: 18px 0 30px;
        .tit {
            text-align: center;
            h2 {
                .dis(ib);
                vertical-align: top;
                margin-bottom: 30px;
                line-height: 46px;
                font-size: 22px;
                color: #282828;
                border-bottom: 3px solid @green;
            }
        }
        .tab {
            .dis(ib);
            font-size: 0;
            li {
                .dis(ib);
                padding: 0 25px;
                margin: 0 19px;
                line-height: 38px;
                font-size: 16px;
                color: #333;
                cursor: pointer;
                &.cur, &:hover {
                    background: @green;
                    color: #fff;
                    font-weight: 700;
                    .bdr(38px);
                }
            }
        }
        .more {
            .dis(ib);
            vertical-align: top;
            margin: 0 19px;
            line-height: 38px;
            font-size: 16px;
            color: #333;
            &:hover {
                color: @green;
            }
        }
    }
    &-tit {
        padding: 32px 0 24px;
        line-height: 38px;
        .dtfont {
            width: 30px;
            font-size: 30px;
            color: @green;
            margin: -3px 10px 0 0;
        }
        h2 {
            .dis(i);
            font-size: 22px;
            color: #282828;
        }
        .slogan {
            padding: 0 0 0 10px;
            font-size: 14px;
            color: #999;
            a {
                margin-left: 16px;
                color: #999;
                &:hover {
                    color: @green;
                }
            }
        }
        .more {
            font-size: 14px;
            color: #999;
            &:hover {
                color: @green;
            }
        }
    }
    .list {
        .cl();
        padding-bottom: 10px;
        ul {
            .pos(r);
            width: 1220px;
        }
        li {
            float: left;
            width: 270px;
            padding: 8px 8px 0 8px;
            margin: 0 19px 30px 0;
            background: #fff;
            .bdr(4px);
            .box-shadow(0 0 13px rgba(206, 206, 206, .75));
            .img {
                .pos(r);
                .dis(b);
                &-mask {
                    .pos(a);
                    top: 0;
                    right: 0;
                    bottom: 40px;
                    left: 0;
                    z-index: 8;
                    background: #000;
                    .opacity(0);
                }
            }
            .img-handle {
                .dis(n);
            }
            .btn-down {
                .pos(a);
                bottom: 65px;
                left: 52px;
                z-index: 9;
                width: 164px;
                height: 46px;
                line-height: 46px;
                text-align: center;
                color: #fff;
                font-size: 16px;
                background: @green;
                .bdr(4px);
                .dtfont {
                    width: 16px;
                    margin: -3px 10px 0 0;
                }
                &:hover {
                    background: @green-h;
                }
            }
            .btn-collect {
                .pos(a);
                top: 9px;
                right: 9px;
                z-index: 9;
                width: 33px;
                height: 33px;
                line-height: 33px;
                text-align: center;
                background: #fff;
                .bdr(4px);
                .dtfont {
                    width: 16px;
                    margin: -5px 0 0 0;
                }
            }
            .ico-collect-h {
                color: @green;
            }
            .tags {
                .height(40px);
                color: #666;
                font-size: 14px;
            }
            .btn-box {
                .dis(n);
                .height(40px);
                color: #666;
                font-size: 14px;
                .dtfont {
                    width: 14px;
                    margin: -3px 5px 0 0;
                }
            }
            &:hover {
                .img-mask {
                    .opacity(0.5);
                }
                .img-handle, .btn-box {
                    .dis(b);
                }
                .tags {
                    .dis(n);
                }
            }
        }
    }
    .list2 {
        .cl();
        padding-bottom: 10px;
        ul {
            width: 1220px;
        }
        li {
            float: left;
            width: 285px;
            margin: 0 19px 30px 0;
            .bdr(4px);
            .img {
                .pos(r);
                .dis(b);
                img {
                    .bdr(4px);
                }
            }
            .title {
                .pos(a);
                bottom: 0;
                left: 0;
                width: 100%;
                .height(50px);
                color: #fff;
                text-align: center;
                font-size: 20px;
            }
            &:hover {
                .img-mask {
                    .opacity(0.5);
                }
                .img-handle, .btn-box {
                    .dis(b);
                }
                .tags {
                    .dis(n);
                }
            }
        }
    }
}
.text-e1 {
    .text-e(1);
}
.text-e2 {
    .text-e(2);
}
.text-e3 {
    .text-e(3);
}
.anim {
    -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    -moz-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    -ms-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

/* footer */
.footer {
    background: #2d2d2d;
    color: #999;
    font-size: 12px;
    a {
        color: #999;
        &:hover {
            color: @green;
        }
    }
    &-nav {
        line-height: 58px;
        a {
            margin-right: 22px;
        }
    }
    &-link {
        padding: 15px 0;
        border-top: 1px solid #383838;
        .tit {
            line-height: 32px;
            color: #fff;
            font-size: 14px;
        }
        .ecode {
            padding-bottom: 5px;
            margin: 27px 0 0 30px;
            background: #fff;
            img {
                .dis(b);
            }
            p {
                font-size: 12px;
                line-height: 14px;
                color: #2d2d2d;
                text-align: center;
            }
        }
        a {
            .dis(ib);
            line-height: 30px;
            margin-right: 30px;
        }
    }
    &-copy {
        padding: 15px 0 40px;
        border-top: 1px solid #383838;
        line-height: 30px;
        .icon {
            margin: -3px 5px 0 0;
        }
    }
    &-lg {
        padding: 30px 0 50px;
        text-align: center;
        background: #fff;
        line-height: 30px;
        font-size: 14px;
        color: #999;
        a {
            color: #999;
        }
        .footer-nav {
            line-height: 30px;
        }
        .footer-copy {
            padding: 0;
            border: 0;
        }
    }
    &-user {
        background: #fff;
        &-top {
            padding: 30px 0 40px 18px;
            dl {
                width: 150px;
            }
            dt {
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 700;
                color: #666;
            }
            dd {
                line-height: 24px;
                a {
                    font-size: 12px;
                }
            }
            a {
                color: #999;
                &:hover {
                    color: @green;
                }
            }
            .service {
                width: 310px;
                &-tit {
                    color: #666;
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 30px;
                }
                &-tel, &-email {
                    margin-bottom: 15px;
                    color: #666;
                    font-size: 18px;
                    a {
                        color: #666;
                        &:hover {
                            color: @green;
                        }
                    }
                    .dtfont {
                        width: 24px;
                        font-size: 24px;
                        margin: -3px 5px 0 0;
                    }
                    em {
                        font-size: 14px;
                    }
                }
                &-qq {
                    a {
                        .dis(ib);
                        vertical-align: top;
                        width: 140px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        color: #fff;
                        font-size: 16px;
                        .bdr(4px);
                        background: rgb(60,227,194);
                        background: -moz-linear-gradient(left, rgba(60,227,194,1) 0%, rgba(14,197,161,1) 100%);
                        background: -webkit-linear-gradient(left, rgba(60,227,194,1) 0%,rgba(14,197,161,1) 100%);
                        background: linear-gradient(to right, rgba(60,227,194,1) 0%,rgba(14,197,161,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ce3c2', endColorstr='#0ec5a1',GradientType=1 );
                        &:hover {
                            .opacity(.9);
                        }
                    }
                }
                .dtfont {
                    width: 25px;
                    margin: -2px 5px 0 0;
                    font-size: 25px;
                }
            }
        }
        &-bottom {
            border-top: 1px solid #ccc;
            height: 55px;
            line-height: 55px;
            padding-left: 18px;
            a {
                color: #999;
                &:hover {
                    color: @green;
                }
            }
            p {
                font-size: 12px;
                color: #999;
            }
            .bottom-icon a {
                .pos(r);
                display: inline-block;
                vertical-align: middle;
                width: 26px;
                height: 26px;
                line-height: 26px;
                margin-right: 20px;
                .img {
                    position: absolute;
                    top: -137px;
                    left: -50px;
                    display: none;
                    max-width: none;
                }
                &:hover {
                    .ico-weibo {
                        color: #ff3e3e;
                    }
                    .ico-weixin {
                        color: #1ccd27;
                    }
                    .img {
                        .dis(b);
                    }
                }

            }
            .bottom-href a {
                display: inline-block;
                margin-right: 18px;
            }
            .dtfont {
                width: 26px;
                font-size: 26px;
            }
        }
    }
}

/* 右边悬浮 */
.talk {
    .pos(f);
    top: 50%;
    right: 30px;
    width: 60px;
    margin-top: -366 / 2px;
    background: #fff;
    border: 1px solid #e2e2e2;
    text-align: center;
    z-index: 996;
    font-size: 12px;
    .bdr(4px);
    .box-shadow(0 0 13px rgba(206, 206, 206, .75));
    li {
        .txt {
            .dis(b);
            line-height: 26px;
            font-size: 12px;
            color: #999;
            text-align: center;
        }
        a {
            .pos(r);
            .dis(b);
            padding: 18px 0 10px;
            height: 45px;
            color: #999;
            border-bottom: 1px solid #f5f5f5;
        }
        .dtfont {
            width: 24px;
            font-size: 24px;
            color: @green;
        }
        .ecode {
            .dis(n);
            .pos(a);
            width: 130px;
            top: 0;
            z-index: 99;
            left: -129px;
            padding: 12px 0 10px;
            background: @green;
            img {
                .dis(b);
                width: 100px;
                height: 100px;
                margin: 0 auto 10px;
                .bdr(4px);
            }
            p {
                line-height: 16px;
                font-size: 12px;
                color: #666;
                font-weight: 700;
                color: #fff;
            }
        }
        &:hover {
            a {
                background: @green;
                border-bottom: 1px solid @green;
                span {
                    color: #fff;
                }
            }
            .ecode {
                .dis(b);
            }
        }
    }
    #goBack {
        border: 0;
        height: 40px;
        &:hover {
            .bdr(0, 0, 4px, 4px);
        }
    }
    .first {
        a:hover {
            .bdr(4px, 4px, 0, 0);
        }
    }
}

/* 翻页 */
.page {
    text-align: center;
    font-size: 0;

    a {
        .dis(ib);
        vertical-align: top;
        padding: 8px 13px 9px;
        min-width: 10px;
        margin: 0 6px;
        color: #999;
        background: #f4f4f4;
        font-size: 14px;
        .bdr(4px);
        font-weight: 400;

        &:hover {
            background-color: @green;
            color: #fff;
        }
    }
    strong {
        .dis(ib);
        padding: 7px 0 8px;
        width: 36px;
        margin: 0 6px;
        color: #999;
        background: #f4f4f4;
        font-size: 14px;
        .bdr(4px);
        font-weight: 400;
        letter-spacing:-2px;
    }
    strong.cur {
        width: auto;
        padding: 8px 14px 9px;
        background-color: @green;
        color: #fff;
        letter-spacing: 0;
    }
}
.page-list {
    padding: 40px 0 95px;
}

.ico-radio {
    .pos(r);
    .dis(ib);
    .ov(h);
    width: 21px;
    height: 21px;
    margin: -3px 6px 0 0;
    vertical-align: middle;
    background: url(../images/radio.png) no-repeat 0 0;
    cursor: pointer;
    &-cur {
        background-position: 0 -30px;
    }
    input {
        .pos(a);
        top: 0;
        left: 0;
        margin: 0;
        .opacity(0);
        cursor: pointer;
    }
}

/* alert, confirm样式 */
#sw-con {
    z-index: 9999;
    width: 428px;
    padding-bottom: 40px;
    position: fixed;
    background: #fff;
    .bdr(4px);
}
#sw-tit {
    font-size: 16px;
    color: #666;
    padding: 10px 19px;
    line-height: 37px;
    border-bottom: 1px solid #ddd;
}
#sw-msg {
    padding: 43px 19px;
    line-height: 30px;
    font-size: 18px;
    color: #666;
    text-align: center;
}
#sw-close {
    display: block;
    position: absolute;
    right: 20px;
    top: 22px;
    color: #aaa;
    font-size: 14px;
    cursor: pointer;
    &:hover {
        color: @green;
    }
}
#sw-btn-box {
    text-align: center;
    font-size: 0;
}
#sw-btn-ok, #sw-btn-no {
    .dis(ib);
    width: 160px;
    height: 42px;
    line-height: 42px;
    color: white;
    border: none;
    font-size: 16px;
    .bdr(4px);
}
#sw-btn-ok {
    background: @green;
    border: 1px solid @green;
    &:hover {
        background: @green-h;
        border: 1px solid @green-h;
    }
}
#sw-btn-no {
    color: #666;
    border: 1px solid #ccc;
    margin-left: 20px;
    &:hover {
        color: @green;
        border: 1px solid @green;
    }
}