@charset "utf-8";
@import url(../../../common/common-pc.less);

@page-w: 1220px;
@green: #00b266;
@green-h: #00ca69;
@yellow: #f64a1a;
@yellow-h: #ff6815;
@bg-color: #f4f6f8;
@blue: #0097f8;
@blue-h: #26a5ff;
.sld-box {
    .ov(h);
}
#sld {
    @h: 380px;
    .pos(r);
    width: @page-w;
    height: @h;
	margin: 0 auto;

    .slides_container {
        width: @page-w;
        height: @h;
        overflow: visible !important;
        li {
            width: @page-w;
            height: @h;
        }
        img {
            .pos(a);
            top: 0;
            left: 50%;
            width: 1920px;
            max-width: none;
            margin-left:  -1920px / 2;
        }
    }
    .pagination {
        position: absolute;
        bottom: 16px;
        z-index: 6;
		width: 100%;
		line-height: 10px;
        text-align: center;

        li {
            .dis(ib);
			vertical-align: top;
        }
        a {
			.dis(b);
            .ov(h);
            width: 10px;
            height: 10px;
            margin: 0 5px;
            background: #fff;
            font-size: 0;
            .bdr(10px);
        }
        .cur {
            a {
				width: 20px;
                background: @yellow;
            }
        }
	}
	.icon-zuojiantou, .icon-youjiantou {
	    .dis(n);
	    position: absolute;
	    top: 50%;
	    .ov(h);
	    width: 50px;
	    height: 60px;
		line-height: 60px;
		margin-top: -30px;
	    z-index: 55;
	    font-size: 18px;
	    cursor: pointer;
	    color: #fff;
		text-align: center;
		background: rgba(0, 0, 0, .3);
	    &:hover {
	        background: @yellow;
	    }
	}
	.icon-zuojiantou {
	    left: 0;
	}
	.icon-youjiantou {
	    right: 0;
	}
	&:hover {
	    .icon-zuojiantou, .icon-youjiantou {
	        .dis(b);
	    }
	}
}

.study {
	padding: 54px 0 37px;
	font-size: 0;
    dl {
		.dis(ib);
		vertical-align: top;
        width: 25%;
    }
    dd {
        line-height: 22px;
        font-size: 14px;
        color: #333;
        img {
            .dis(b);
            margin: 0 28px 0 0;
        }
    }
    dt {
        line-height: 32px;
        font-size: 20px;
        color: #333;
    }
}

.box-drjy {
	.list {
	    .cl();
	    padding-bottom: 37px;
	    ul {
	        .pos(r);
	        margin-right: -20px;
	        font-size: 0;
	    }
	    li {
	        .ov(h);
	        .dis(ib);
	        vertical-align: top;
			width: 393px;
			padding-bottom: 30px;
	        margin: 20px 20px 0 0;
			background: #fff;
			dl {
				padding: 26px 42px;
			}
			dd {
			    line-height: 18px;
			    font-size: 14px;
			    color: #666;
			    img {
			        .dis(b);
					margin: 0 20px 0 0;
					width: 50px;
					height: 50px;
					.bdr(50%);
			    }
			}
			dt {
			    line-height: 30px;
			    font-size: 16px;
				color: #333;
				font-weight: 700;
				a {
					color: #333;
					&:hover {
						color: @yellow;
					}
				}
			}
			p {
				padding: 28px 42px 0;
				border-top: 1px solid #eee;
				line-height: 26px;
				text-align: justify;
				font-size: 15px;
				color: #666;
			}
		}
	}
}
.box-hzhb {
    .list {
        .cl();
        padding: 12px 0 37px;
        ul {
            .pos(r);
            margin-right: -8px;
            font-size: 0;
        }
        li {
			.pos(r);
            .ov(h);
            .dis(ib);
            vertical-align: top;
            width: 196px;
            margin: 8px 8px 0 0;
			background: #fff;
			img {
				.pos(a);
				top: 0;
				left: 0;
				width: 196px;
				height: 80px;
				.opacity(0);
				.anim();
				&.gray {
					.pos(s);
					.opacity(1);
				}
			}
			a:hover {
				img {
					.opacity(1);
				}
			}
		}
	}
}

.select {
	padding: 25px 0;
	font-size: 0;
	border-top: 1px solid #f1f1f1;
	ul {
		padding: 0 0 15px;
	    margin-right: -4px;
	}
	li {
	    .dis(ib);
	    vertical-align: top;
	    padding: 0 4px 0 0;
	}
	a {
	    .dis(b);
	    .ov(h);
	    width: 90px;
	    margin-top: 15px;
	    .height(40px);
	    text-align: center;
	    font-size: 14px;
	    color: #222;
	    &:hover {
	        color: #fff;
	        background: #222;
	    }
	    &.cur {
	        color: #fff;
	        background: #222;
	        &:hover {
	            color: #fff;
	        }
	    }
	}
}

.position {
	line-height: 32px;
	font-size: 14px;
	color: #999;
	a {
		color: #999;
		&:hover {
			color: @yellow;
		}
	}
	span {
		color: #333;
	}
}
.page-list {
	padding: 50px 0 40px;
}

// 详情页
.cont {
    &-main {
		padding: 30px;
		background: #fff;
		.img {
            .pos(r);
            clear: both;
        }
	}
	&-intro {
		.tab-tit {
			font-size: 0;
			li {
				.dis(ib);
				vertical-align: top;
				margin-right: 30px;
				cursor: pointer;
				font-size: 16px;
				color: #666;
				&.cur, &:hover {
					color: #333;
				}
			}
		}
		.tab-ct {
			padding: 15px 0 35px;
			line-height: 25px;
			font-size: 14px;
			color: #666;
			margin-right: -30px;
			a {
				.dis(ib);
				vertical-align: top;
				color: #666;
				margin-right: 30px;
				&:hover {
					color: #333;
				}
			}
		}
	}
	&-info {
		padding: 40px 30px 20px;
		font-size: 0;
		.btn-down {
			.dis(b);
			height: 70px;
			line-height: 70px;
			font-size: 16px;
			color: #fff;
			font-weight: 700;
			background: @green;
			text-align: center;
			span {
				.dis(ib);
				vertical-align: middle;
				margin: -3px 20px 0 0;
				font-weight: 400;
				font-size: 20px;
			}
			&:hover {
				color: #fff;
				background: @green-h;
			}
		}
		.tit {
			padding: 33px 0 13px;
			line-height: 32px;
			font-size: 20px;
			color: #333;
		}
		p {
			.ov(h);
			height: 32px;
			line-height: 32px;
			font-size: 14px;
			color: #666;
			&.half {
				.dis(ib);
				vertical-align: top;
				width: 50%;
			}
		}
	}
	&-tags {
		padding: 0 30px 18px;
		.tit {
			line-height: 32px;
			font-size: 16px;
			color: #333;
		}
		.ct {
			padding: 12px 0;
			margin-right: -10px;
			font-size: 0;
			a {
				.dis(ib);
				vertical-align: top;
				line-height: 24px;
				padding: 0 14px;
				margin: 8px 10px 0 0;
				border: 1px solid #ddd;
				font-size: 14px;
				color: #666;
				&:hover {
					color: #333;
				}
			}
		}
	}
	&-limit {
		padding: 20px 30px;
		.tit {
		    line-height: 32px;
		    font-size: 16px;
		    color: #333;
		}
		.ct {
			padding: 15px 0;
			line-height: 24px;
			color: #666;
			text-align: justify;
			font-size: 14px;
		}
		.btn-jubao {
			.dis(ib);
			vertical-align: top;
			padding: 30px 0 0;
			line-height: 32px;
			font-size: 14px;
			color: #666;
			cursor: pointer;
			span {
				.dis(ib);
				vertical-align: middle;
				margin: -3px 16px 0 0;
				font-size: 18px;
				color: #ccc;
			}
			&:hover {
				color: @yellow;
				span {
					color: @yellow;
				}
			}
		}
	}
}