@charset "utf-8";
.cl {
  *zoom: 1;
}
.cl:after {
  display: block;
  clear: both;
  height: 0;
  content: "\200B";
}
body {
  background: #080808;
}
.c-main #wp {
  width: 100%;
}
.talk {
  display: none;
}
.top-img {
  width: 100%;
  min-width: 1220px;
  height: 495px;
}
.top-img1 {
  background: url(../images/top-img_01.jpg) no-repeat center 0;
}
.top-img2 {
  background: url(../images/top-img_02.jpg) no-repeat center 0;
}
.top-img2 .wrap {
  padding: 35px 0 0;
  position: relative;
}
.top-img2 .btn-box {
  width: 329px;
  height: 162px;
  margin: 133px 0 -50px 314px;
  padding: 29px 0 0 144px;
  background: url(../images/btn.png) no-repeat 0 -133px;
}
.top-img2 .btn-box a {
  overflow: hidden;
  display: block;
  width: 305px;
  height: 102px;
  line-height: 300px;
}
.top-img2 .btn-box a:hover {
  background: url(../images/btn.png) no-repeat -144px -337px;
}
.top-img2 .btn-box2 {
  background: url(../images/btn.png) no-repeat 0 -566px;
}
.top-img2 .btn-box2 a {
  overflow: hidden;
  display: block;
  width: 305px;
  height: 102px;
  line-height: 300px;
}
.top-img2 .btn-box2 a:hover {
  background: url(../images/btn.png) no-repeat -144px -770px;
}
.top-img2 .text {
  width: 550px;
  margin: 0 auto 60px;
  line-height: 28px;
  font-size: 18px;
  text-align: center;
  color: #cb9a4f;
}
.top-img2 #navlink {
  display: block;
}
.ztico {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url(../images/iconzt.png) no-repeat;
}
.zt-nav {
  padding: 0 0 86px;
}
.zt-nav ul {
  display: block;
  width: 1022px;
  height: 83px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/zt-nav.png) no-repeat center 0;
}
.zt-nav li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  padding: 19px 0;
  margin: 0 29px;
  line-height: 46px;
}
.zt-nav li a {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 81px;
  height: 46px;
  line-height: 42px;
  font-size: 20px;
  color: #666;
}
.zt-nav li a.w4 {
  width: 121px;
}
.zt-nav li a.w5 {
  width: 141px;
}
.zt-nav li a:hover {
  color: #080808;
  background: url(../images/zt-nav.png) no-repeat 0 -100px;
}
.zt-nav li a:hover.w4 {
  background: url(../images/zt-nav.png) no-repeat -240px -100px;
}
.zt-nav li a:hover.w5 {
  background: url(../images/zt-nav.png) no-repeat -90px -100px;
}
.zt-nav li.cur a {
  color: #080808;
  background: url(../images/zt-nav.png) no-repeat 0 -100px;
}
.zt-nav li.cur a.w4 {
  background: url(../images/zt-nav.png) no-repeat -240px -100px;
}
.zt-nav li.cur a.w5 {
  background: url(../images/zt-nav.png) no-repeat -90px -100px;
}
.zt-times {
  padding: 0 0 80px;
  font-size: 0;
}
.zt-times .tit {
  text-align: center;
}
.zt-times .tit span {
  overflow: hidden;
  width: 213px;
  height: 77px;
  background-position: 0 -140px;
}
.zt-times .list {
  padding: 50px 0 0;
}
.zt-times .list ul {
  display: block;
  width: 995px;
  height: 147px;
  margin: 0 auto;
  background-position: 91px 7px;
}
.zt-times .list li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 99px;
  height: 82px;
  padding: 33px 0 0;
  margin: 0 50px;
  font-size: 18px;
  line-height: 21px;
  background-position: -360px -150px;
  text-align: center;
  color: #cb9a4f;
}
.zt-times .list li .f16 {
  font-size: 16px;
}
.zt-times .list li.li {
  margin-top: 32px;
}
.zt-times .list li.cur {
  color: #080808;
  background-position: -470px -150px;
}
.zt-rules {
  padding: 0 0 80px;
  font-size: 0;
}
.zt-rules .tit {
  text-align: center;
}
.zt-rules .tit span {
  overflow: hidden;
  width: 221px;
  height: 77px;
  background-position: 0 -220px;
}
.zt-rules .list {
  text-align: center;
  padding: 50px 0 0;
}
.zt-rules .list li {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 208px;
  height: 238px;
  margin: 0 26px;
  color: #666;
  font-size: 16px;
  border: 1px solid #222;
  text-align: left;
}
.zt-rules .list li .arrow {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 72px solid #222222;
  border-right: 72px solid transparent;
}
.zt-rules .list li .tt {
  position: relative;
  z-index: 2;
  padding: 0 14px;
  line-height: 54px;
  color: #cb9a4f;
  font-size: 16px;
  font-weight: 700;
}
.zt-rules .list li .tt strong {
  font-size: 36px;
}
.zt-rules .list li p {
  padding: 10px 14px 0;
  line-height: 28px;
  text-align: justify;
}
.zt-rules .list li p.p1 {
  padding: 19px 29px 0;
  line-height: 30px;
}
.zt-rules .list li p.p4 {
  padding: 33px 29px 0;
  line-height: 32px;
}
.zt-rules .list .pic {
  width: 644px;
  height: 8px;
  margin: 20px auto 0;
  background: url(../images/rules.png) no-repeat center 0;
}
.zt-prize {
  padding: 0 0 88px;
  font-size: 0;
}
.zt-prize .tit {
  text-align: center;
}
.zt-prize .tit span {
  overflow: hidden;
  width: 306px;
  height: 77px;
  background-position: 0 -300px;
}
.zt-prize .list {
  width: 900px;
  margin: 0 auto;
  padding: 50px 0 32px;
  text-align: center;
}
.zt-prize .list li {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 274px;
  height: 316px;
  margin: 0 5px -32px;
  text-align: center;
  background-position: -360px -280px;
}
.zt-prize .list li .tt {
  position: relative;
  top: -50px;
  display: inline-block;
  width: 183px;
  height: 168px;
  margin-bottom: -50px;
  background: url(../images/prize.png) no-repeat;
}
.zt-prize .list li p {
  padding: 10px 0 0;
  line-height: 28px;
  color: #666;
  font-size: 18px;
}
.zt-prize .list li .more {
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 100%;
  line-height: 24px;
}
.zt-prize .list li .more span {
  display: block;
  width: 13px;
  height: 7px;
  margin: 0 auto;
  background-position: -640px -210px;
}
.zt-prize .list li .more a {
  color: #cb9a4f;
  font-size: 16px;
}
.zt-prize .list li .more a:hover {
  color: #e6cd85;
}
.zt-prize .list li .more a:hover span {
  background-position: -640px -230px;
}
.zt-prize .list li.li1 .tt {
  background-position: 0 0;
}
.zt-prize .list li.li1 p {
  padding: 15px 0 0;
}
.zt-prize .list li.li2 .tt {
  background-position: 0 -170px;
}
.zt-prize .list li.li3 .tt {
  background-position: 0 -340px;
}
.zt-prize .list li.li4 .tt {
  background-position: 0 -510px;
}
.zt-prize .list li.li5 .tt {
  background-position: 0 -680px;
}
.zt-judges {
  padding: 0 0 88px;
  font-size: 0;
}
.zt-judges .tit {
  text-align: center;
}
.zt-judges .tit span {
  overflow: hidden;
  width: 350px;
  height: 77px;
  background-position: 0 -380px;
}
.zt-judges .list {
  width: 1056px;
  margin: 0 auto;
  padding: 50px 0 20px;
  text-align: left;
}
.zt-judges .list li {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 210px;
  height: 372px;
  margin: 0 27px -20px;
  text-align: center;
}
.zt-judges .list li .bgs {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 372px;
  background-position: 0 -570px;
}
.zt-judges .list li .bgs2 {
  background-position: 0 -950px;
}
.zt-judges .list li .img {
  overflow: hidden;
  height: 241px;
}
.zt-judges .list li .img img {
  width: 210px;
}
.zt-judges .list li h3 {
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  padding: 12px 0 0;
  color: #cb9a4f;
  font-weight: 700;
  font-size: 24px;
}
.zt-judges .list li p {
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  color: #666;
  font-size: 16px;
}
.zt-cooperation {
  padding: 0 0 150px;
  font-size: 0;
}
.zt-cooperation .tit {
  text-align: center;
}
.zt-cooperation .tit span {
  overflow: hidden;
  width: 293px;
  height: 77px;
  background-position: 0 -470px;
}
.zt-cooperation .list {
  width: 779px;
  margin: 0 auto;
  padding: 50px 0 20px;
  text-align: left;
}
.zt-cooperation .list li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 276px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-position: -220px -600px;
}
.zt-cooperation .list li img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.zt-cooperation .list li.li1 {
  margin-bottom: -48px;
  margin-left: 252px;
}
.zt-cooperation .list li.li2 {
  margin-bottom: -100px;
}
.zt-cooperation .list li.li3 {
  margin-left: 503px;
  margin-bottom: -47px;
}
.zt-cooperation .list li.mt0 {
  margin-top: 0;
}
.zt-election {
  padding: 0 0 100px;
}
.zt-election .tt {
  width: 1000px;
  margin: 0 auto;
  padding: 15px 0 0;
}
.zt-election .tt ul {
  width: 315px;
  margin-top: 48px;
  font-size: 0;
  background-position: -230px -890px;
}
.zt-election .tt ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 105px;
  height: 33px;
  text-align: center;
}
.zt-election .tt ul li a {
  display: block;
  height: 33px;
  line-height: 30px;
  color: #666;
  font-size: 16px;
}
.zt-election .tt ul li a:hover {
  color: #cb9a4f;
}
.zt-election .tt ul li a.cur {
  color: #080808;
  background: url(../images/iconzt.png) no-repeat -230px -930px;
}
.zt-election .tt ul li a.cur:hover {
  color: #080808;
}
.zt-election .tt .person {
  margin-bottom: 15px;
  line-height: 33px;
}
.zt-election .tt .person .num-box {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin: 0 14px;
  font-size: 0;
}
.zt-election .tt .person .num-box .l,
.zt-election .tt .person .num-box .r {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 33px;
  background-position: -230px -890px;
}
.zt-election .tt .person .num-box .r {
  background-position: -535px -890px;
}
.zt-election .tt .person .num-box .num {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  height: 33px;
  padding: 0 8px;
  line-height: 33px;
  color: #cb9a4f;
  background: #222;
  font-size: 26px;
}
.zt-election .tit {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  line-height: 40px;
  font-size: 0;
}
.zt-election .tit h3 {
  display: inline;
  font-size: 22px;
  color: #666;
}
.zt-election .tit h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background: #cb9a4f;
}
.zt-election .tit span {
  margin-left: 10px;
  font-size: 16px;
  color: #666;
}
.zt-election .tit span .num {
  margin: 0 2px;
  font-size: 22px;
  color: #cb9a4f;
}
.zt-election .tit span.yellow {
  font-size: 16px;
  color: #cb9a4f;
}
.zt-election .tit .more {
  color: #666;
  font-size: 16px;
}
.zt-election .list ul {
  width: 1040px;
  margin: 0 auto;
  font-size: 0;
}
.zt-election .list li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 220px;
  margin: 114px 20px 0;
  text-align: center;
  background: #222;
}
.zt-election .list li .img {
  overflow: hidden;
  position: relative;
  top: -72px;
  left: 0;
  width: 130px;
  height: 130px;
  margin: 0 auto -52px;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 8px solid #080808;
}
.zt-election .list li h2 {
  overflow: hidden;
  height: 38px;
  line-height: 38px;
  margin: 0 5px;
  font-size: 24px;
}
.zt-election .list li h2 a {
  color: #ccc;
}
.zt-election .list li h2 a:hover {
  color: #cb9a4f;
}
.zt-election .list li p {
  overflow: hidden;
  height: 36px;
  line-height: 36px;
  margin: 0 5px;
  font-size: 20px;
  color: #666;
}
.zt-election .list li p .num {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-top: -3px;
  font-size: 24px;
  color: #cb9a4f;
}
.zt-election .list li .btn-box {
  padding: 15px 0 0;
  width: 100%;
  height: 45px;
  text-align: center;
}
.zt-election .list li .btn-box .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 109px;
  height: 45px;
  background-position: -230px -830px;
}
.zt-election .list li .btn-box .btn:hover {
  background-position: -350px -830px;
}
.zt-election .list li .btn-box .btn-dis {
  background-position: -470px -830px;
}
.zt-election .list li .btn-box .btn-dis:hover {
  background-position: -470px -830px;
}
.zt-election .list-myelection {
  padding: 0 0 50px;
}
.zt-election .list-myelection li .btn-box .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 109px;
  height: 45px;
  background-position: -560px -1240px;
}
.zt-election .list-myelection li .btn-box .btn:hover {
  background-position: -680px -1240px;
}
.zt-election .list-myelection li .btn-box .btn-dis {
  background-position: -680px -1240px;
}
.zt-personal {
  padding: 10px 0 0;
}
.zt-personal .notices {
  position: relative;
  width: 320px;
  height: 30px;
  margin: 0 auto;
  overflow: hidden;
}
.zt-personal .notices ul {
  position: relative;
  top: 0;
  left: 0;
  width: 320px;
  color: #666;
  font-size: 14px;
  margin-top: 1px;
}
.zt-personal .notices li {
  line-height: 30px;
}
.zt-personal .notices li span {
  width: 20px;
  height: 19px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
  background-position: -650px -390px;
}
.zt-personal .info {
  padding: 30px 0 35px;
  text-align: center;
}
.zt-personal .info .img {
  overflow: hidden;
  width: 130px;
  height: 130px;
  margin: 0 auto 15px;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.zt-personal .info h2 {
  overflow: hidden;
  height: 38px;
  line-height: 38px;
  margin: 0 5px;
  font-size: 24px;
  color: #ccc;
}
.zt-personal .info p {
  overflow: hidden;
  height: 36px;
  line-height: 36px;
  margin: 0 5px;
  font-size: 20px;
  color: #666;
}
.zt-personal .info p .num {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-top: -3px;
  font-size: 24px;
  color: #cb9a4f;
}
.zt-personal .vote-box {
  width: 634px;
  padding: 0 0 40px;
  margin: 0 auto;
  font-size: 0;
}
.zt-personal .vote-box a {
  float: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  width: 220px;
  height: 65px;
  margin: 0 -38px 0 0;
  background: url(../images/vote.png) no-repeat;
}
.zt-personal .vote-box a:hover {
  filter: alpha(opacity= 100 );
  opacity: 1;
}
.zt-personal .vote-box a.vote-copy {
  background-position: 0 0;
}
.zt-personal .vote-box a.vote-copy:hover {
  background-position: 0 -80px;
}
.zt-personal .vote-box a.vote-share {
  background-position: right 0;
}
.zt-personal .vote-box a.vote-share:hover {
  background-position: right -80px;
}
.zt-personal .vote-box a.vote-btn {
  position: relative;
  z-index: 2;
  width: 268px;
  height: 75px;
  background-position: -230px 0;
}
.zt-personal .vote-box a.vote-btn:hover {
  background-position: -230px -80px;
}
.zt-personal .vote-box a.vote-btn-dis {
  background-position: -230px -170px;
}
.zt-personal .vote-box a.vote-btn-dis:hover {
  background-position: -230px -170px;
}
.zt-personal .works {
  padding: 0 0 42px;
}
.zt-personal .works .tit {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  line-height: 40px;
}
.zt-personal .works .tit h3 {
  font-size: 22px;
  color: #666;
}
.zt-personal .works .tit h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background: #cb9a4f;
}
.zt-personal .works .tit .more {
  color: #666;
  font-size: 16px;
}
.zt-personal .works .tit .more:hover {
  color: #cb9a4f;
}
.zt-personal .works .list {
  padding: 10px 0 0;
  font-size: 0;
  text-align: center;
}
.zt-personal .works .list li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 6px;
  vertical-align: middle;
}
.zt-personal .works .list li img {
  width: 230px;
  height: 140px;
}
.zt-personal .works .list li.more {
  margin: 0;
}
.zt-personal .works .list li.more a {
  display: block;
  width: 49px;
  line-height: 144px;
  background: #222;
  text-align: center;
}
.zt-personal .works .list li.more a span {
  width: 24px;
  height: 6px;
  background-position: -650px -420px;
}
.zt-personal .works .list li.more a:hover {
  background: #333;
}
.zt-personal .supporter {
  padding: 0 0 100px;
}
.zt-personal .supporter .tit {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  line-height: 40px;
}
.zt-personal .supporter .tit h3 {
  font-size: 22px;
  color: #666;
}
.zt-personal .supporter .tit h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background: #cb9a4f;
}
.zt-personal .supporter .list {
  width: 1044px;
  margin: 0 auto;
  padding: 10px 0 0;
  font-size: 0;
}
.zt-personal .supporter .list li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  width: 116px;
  margin-top: 26px;
  text-align: center;
}
.zt-personal .supporter .list li img {
  display: block;
  width: 66px;
  height: 66px;
  margin: 0 auto 7px;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.zt-personal .supporter .list li p {
  overflow: hidden;
  height: 22px;
  line-height: 22px;
  margin: 0 5px;
  font-size: 16px;
  color: #666;
}
.zt-personal .supporter .list li p a {
  color: #666;
}
.zt-personal .supporter .list li p a:hover {
  color: #cb9a4f;
}
.zt-trophy {
  width: 715px;
  height: 1797px;
  padding: 0 0 150px;
  margin: 10px auto 0;
  background: url(../images/trophy.png) no-repeat center 0;
}
.zt-luckdraw .turntable-bg {
  top: -86px;
  width: 1017px;
  height: 823px;
  margin: 0 auto -164px;
  position: relative;
  background: url(../images/turntable-bg.png) no-repeat center 0;
}
.zt-luckdraw .turntable-bg .pointer {
  width: 231px;
  height: 253px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -115.5px;
  margin-top: -163px;
  z-index: 8;
  background: url(../images/pointer.png) no-repeat center 0;
  cursor: pointer;
}
.zt-luckdraw .turntable-bg .rotate {
  width: 568px;
  height: 568px;
  position: absolute;
  left: 226px;
  top: 100px;
  background: url(../images/turntable.png) no-repeat center 0;
}
.zt-luckdraw .turntable-bg .rotate #rotate {
  width: 491px;
  height: 491px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -245px 0 0 -245px;
  background: url(../images/rotate.png) no-repeat center 0;
}
.zt-luckdraw .turntable-bg .rotateTimes {
  position: absolute;
  top: 100px;
  right: 10px;
  height: 33px;
  line-height: 33px;
  padding: 0 130px 0 18px;
  color: #666;
  font-size: 16px;
  background-position: -230px -890px;
}
.zt-luckdraw .turntable-bg .rotateTimes .btn {
  position: absolute;
  top: 0;
  right: -10px;
  width: 105px;
  height: 33px;
  line-height: 33px;
  font-size: 16px;
  color: #080808;
  text-align: center;
  background-position: -230px -930px;
}
.zt-luckdraw .turntable-bg .rotateTimes .num {
  color: #cb9a4f;
}
.zt-luckdraw .turntable-bg .bdsharebuttonbox {
  position: absolute;
  filter: alpha(opacity= 0 );
  opacity: 0;
}
.zt-luckdraw .win {
  padding: 0 0 100px;
}
.zt-luckdraw .win .tit {
  position: relative;
  width: 1000px;
  padding-bottom: 40px;
  margin: 0 auto;
  line-height: 40px;
}
.zt-luckdraw .win .tit h3 {
  font-size: 22px;
  color: #666;
}
.zt-luckdraw .win .tit h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background: #cb9a4f;
}
.zt-luckdraw .win .list {
  overflow: hidden;
  height: 556px;
  width: 1128px;
  margin: 10px 0 0 110px;
  font-size: 0;
}
.zt-luckdraw .win .list li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  width: 360px;
  margin-right: 16px;
  padding-bottom: 30px;
}
.zt-luckdraw .win .list li img {
  display: inline-block;
  width: 52px;
  height: 52px;
  margin: 0 auto 7px;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.zt-luckdraw .win .list li p {
  overflow: hidden;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  margin-left: 62px;
  color: #666;
}
.zt-luckdraw .win .list li p.name {
  padding: 4px 0 0;
  font-size: 16px;
}
.zt-luckdraw .win .list li p span {
  margin-left: 5px;
  color: #7d592b;
}
.zt-luckdraw .rule {
  width: 363px;
  padding: 0 0 100px;
  margin-left: 110px;
}
.zt-luckdraw .rule .tit {
  position: relative;
  padding-bottom: 10px;
  margin: 0 auto;
  line-height: 40px;
}
.zt-luckdraw .rule .tit h3 {
  font-size: 22px;
  color: #666;
}
.zt-luckdraw .rule .tit h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background: #cb9a4f;
}
.zt-luckdraw .rule .list p {
  overflow: hidden;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  color: #666;
}
.zt-luckdraw .provider {
  margin-left: 473px;
  padding: 0 0 150px;
}
.zt-luckdraw .provider .tit {
  position: relative;
  padding-bottom: 30px;
  margin: 0 auto;
  line-height: 40px;
}
.zt-luckdraw .provider .tit h3 {
  font-size: 22px;
  color: #666;
}
.zt-luckdraw .provider .tit h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background: #cb9a4f;
}
.zt-luckdraw .provider .list {
  font-size: 0;
}
.zt-luckdraw .provider .list li {
  margin: 0 38px 10px 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.zt-guess {
  padding: 0 0 150px;
}
.zt-guess .guess {
  padding: 0 0 65px;
}
.zt-guess .guess .tit {
  text-align: center;
}
.zt-guess .guess .tit span {
  overflow: hidden;
  width: 229px;
  height: 66px;
  line-height: 500px;
  background-position: -560px -1070px;
}
.zt-guess .guess .tit2 span {
  height: 76px;
  background-position: -560px -1150px;
}
.zt-guess .guess .list {
  font-size: 0;
  position: relative;
  padding: 50px 0 0;
}
.zt-guess .guess .list .times {
  text-align: center;
  font-size: 0;
}
.zt-guess .guess .list .times .item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.zt-guess .guess .list .times .item .num-bg {
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 71px;
  line-height: 71px;
  margin: 0 1px;
  text-align: center;
  background: url(../images/times.png) no-repeat 0 -580px;
  *font-size: 55px;
}
.zt-guess .guess .list .times .item .num-bg span {
  width: 21px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/times.png) no-repeat;
}
.zt-guess .guess .list .times .item .num-bg .num0 {
  background-position: center 0;
}
.zt-guess .guess .list .times .item .num-bg .num1 {
  background-position: center -40px;
}
.zt-guess .guess .list .times .item .num-bg .num2 {
  background-position: center -80px;
}
.zt-guess .guess .list .times .item .num-bg .num3 {
  background-position: center -120px;
}
.zt-guess .guess .list .times .item .num-bg .num4 {
  background-position: center -160px;
}
.zt-guess .guess .list .times .item .num-bg .num5 {
  background-position: center -200px;
}
.zt-guess .guess .list .times .item .num-bg .num6 {
  background-position: center -240px;
}
.zt-guess .guess .list .times .item .num-bg .num7 {
  background-position: center -280px;
}
.zt-guess .guess .list .times .item .num-bg .num8 {
  background-position: center -320px;
}
.zt-guess .guess .list .times .item .num-bg .num9 {
  background-position: center -360px;
}
.zt-guess .guess .list .times .item .txt {
  width: 88px;
  height: 25px;
  margin-top: 8px;
  background: url(../images/times.png) no-repeat;
}
.zt-guess .guess .list .times .item .txt-months {
  background-position: center -400px;
}
.zt-guess .guess .list .times .item .txt-day {
  background-position: center -430px;
}
.zt-guess .guess .list .times .item .txt-days {
  background-position: center -460px;
}
.zt-guess .guess .list .times .item .txt-hour {
  background-position: center -490px;
}
.zt-guess .guess .list .times .item .txt-minute {
  background-position: center -520px;
}
.zt-guess .guess .list .times .item .txt-second {
  background-position: center -550px;
}
.zt-guess .guess .list .times .dot {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  width: 9px;
  height: 71px;
  margin: 0 5px;
}
.zt-guess .guess .list .times .dot span {
  display: block;
  width: 9px;
  height: 9px;
  margin-top: 42px;
  background: #bbb;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.zt-guess .guess .list .times .dot span.dot1 {
  margin-top: 25px;
}
.zt-guess .guess .list .times .dot span.dot2 {
  margin-top: 4px;
}
.zt-guess .guess .list .times .bar {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  height: 71px;
  margin: 0 15px;
}
.zt-guess .guess .list .times .bar span {
  display: block;
  width: 22px;
  height: 7px;
  margin-top: 32px;
  background: #bbb;
}
.zt-guess .guess .list .tips {
  position: absolute;
  right: 90px;
  top: -24px;
  line-height: 30px;
  font-size: 16px;
  color: #333;
}
.zt-guess .guess .list .countdown {
  width: 679px;
  height: 32px;
  margin: 10px auto 0;
  background: url(../images/countdown.png) no-repeat center 0;
}
.zt-guess .guess .list2 {
  width: 1000px;
  margin: 0 auto;
  padding: 92px 0 0;
  text-align: left;
}
.zt-guess .guess .list2 li {
  width: 1000px;
  height: 231px;
  margin-bottom: 66px;
  background: url(../images/result-l.png) no-repeat center 0;
}
.zt-guess .guess .list2 li .infos {
  float: left;
  width: 222px;
  margin-top: 33px;
  text-align: center;
}
.zt-guess .guess .list2 li .infos .img {
  overflow: hidden;
  position: relative;
  top: -72px;
  left: 0;
  width: 130px;
  height: 130px;
  margin: 0 auto -52px;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 8px solid #080808;
}
.zt-guess .guess .list2 li .infos h2 {
  overflow: hidden;
  height: 38px;
  line-height: 38px;
  margin: 0 5px;
  font-size: 24px;
}
.zt-guess .guess .list2 li .infos h2 a {
  color: #ccc;
}
.zt-guess .guess .list2 li .infos h2 a:hover {
  color: #cb9a4f;
}
.zt-guess .guess .list2 li .infos h2 .icon {
  display: inline-block;
  width: 22px;
  height: 30px;
  vertical-align: middle;
  margin: 5px 0 0 4px;
  background: url(../images/result-prize.png) no-repeat 0 0;
}
.zt-guess .guess .list2 li .infos p {
  overflow: hidden;
  height: 36px;
  line-height: 36px;
  margin: 0 5px;
  font-size: 20px;
  color: #666;
}
.zt-guess .guess .list2 li .infos p .num {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-top: -3px;
  font-size: 24px;
  color: #cb9a4f;
}
.zt-guess .guess .list2 li dl {
  float: right;
  width: 690px;
  margin-right: 45px;
}
.zt-guess .guess .list2 li dl dt {
  padding-top: 70px;
  font-size: 18px;
  font-weight: 700;
  color: #cb9a4f;
}
.zt-guess .guess .list2 li dl dd {
  overflow: hidden;
  height: 100px;
  padding-top: 20px;
  line-height: 25px;
  color: #999;
  font-size: 16px;
}
.zt-guess .guess .list2 li.r {
  background: url(../images/result-r.png) no-repeat center 0;
}
.zt-guess .guess .list2 li.r .infos {
  float: right;
}
.zt-guess .guess .list2 li.r dl {
  float: left;
  margin: 0 0 0 54px;
}
.zt-guess .rule {
  width: 1000px;
  margin: 0 auto;
  padding: 0 0 90px;
}
.zt-guess .rule .tit {
  position: relative;
  width: 1000px;
  padding-bottom: 10px;
  margin: 0 auto;
  line-height: 40px;
}
.zt-guess .rule .tit h3 {
  font-size: 22px;
  color: #666;
}
.zt-guess .rule .tit h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background: #cb9a4f;
}
.zt-guess .rule .list {
  font-size: 0;
}
.zt-guess .rule .list li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  line-height: 30px;
  color: #666;
  font-size: 16px;
}
.zt-guess .rule .list li span {
  color: #cb9a4f;
}
.zt-guess .rule .list li.li1 {
  width: 415px;
}
.zt-guess .rule .list li.li2 {
  width: 335px;
}
.zt-guess .rule .list li.li3 {
  width: 250px;
}
.zt-guess .info {
  width: 928px;
  padding: 50px 36px;
  margin: 0 auto;
  background: #222;
}
.zt-guess .info .tit {
  position: relative;
  padding-bottom: 10px;
  margin: 0 auto;
  line-height: 40px;
}
.zt-guess .info .tit h3 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 22px;
  color: #666;
}
.zt-guess .info .tit h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background: #cb9a4f;
}
.zt-guess .info .tit span {
  margin-left: 8px;
  font-size: 14px;
  color: #666;
}
.zt-guess .info .list {
  font-size: 0;
}
.zt-guess .info .list dl {
  font-size: 0;
  margin-bottom: 15px;
}
.zt-guess .info .list dl dt {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  font-size: 16px;
  color: #666;
  line-height: 42px;
}
.zt-guess .info .list dl dd {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-left: 15px;
}
.zt-guess .info .list dl dd .txt {
  width: 827px;
  *width: 821px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #444;
  background: #222;
  font-size: 14px;
  color: #999;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.zt-guess .info .list dl dd .btn {
  display: block;
  width: 130px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  margin-top: 10px;
  border: 0;
  font-size: 16px;
  color: #080808;
  cursor: pointer;
  background-position: -560px -1310px;
}
.zt-guess .info .list dl dd .btn:hover {
  background-position: -560px -1360px;
}
.zt-guess .info .list dl.half {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  width: 50%;
}
.zt-guess .info .list dl.half dd .txt {
  width: 268px;
}
.zt-guess .info .list dl.tr {
  text-align: right;
}
.zt-comment {
  border: 0;
  padding: 0 0 70px;
}
.zt-comment .wrap {
  width: 1000px;
}
.zt-comment .ct-comment-box h2 {
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  color: #666;
}
.zt-comment .ct-comment-box h2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background: #cb9a4f;
}
.zt-comment .ct-comment-box .input {
  width: 100%;
  margin-top: 8px;
}
.zt-comment .ct-comment-box .textarea {
  width: 980px;
  background: #161616;
  color: #666;
  border: 0;
}
.zt-comment .ct-comment-box .tips {
  color: #666;
  width: 971px;
  background: #161616;
}
.zt-comment .ct-comment-box .tips a {
  color: #cb9a4f;
}
.zt-comment .ct-comment-box .tips a:hover {
  color: #e6cd85;
}
.zt-comment .ct-comment-box .num-box {
  color: #666;
}
.zt-comment .ct-comment-box .btn-box .progress,
.zt-comment .ct-comment-box .btn-box .btn-smile,
.zt-comment .ct-comment-box .btn-box .btn-add,
.zt-comment .ct-comment-box .btn-box .btn-del {
  display: none;
}
.zt-comment .ct-comment-box .btn-box .btn-comment {
  color: #080808;
  background: #cb9a4f;
}
.zt-comment .ct-comment-box .btn-box .btn-comment:hover {
  color: #080808;
  background: #e6cd85;
}
.zt-comment .ct-comment h3.blue {
  color: #cb9a4f;
}
.zt-comment .ct-comment .tt,
.zt-comment .ct-comment .info {
  width: 770px;
}
.zt-comment .ct-comment .tt .blue {
  color: #cb9a4f;
}
.zt-comment .ct-comment .tt .blue:hover {
  color: #e6cd85;
}
.zt-comment .ct-comment li {
  border-bottom: 1px solid #222;
}
.zt-comment .ct-comment .btn-box a {
  color: #666;
}
.zt-comment .ct-comment .btn-box a:hover {
  color: #e6cd85;
}
.zt-comment .ct-comment .btn-box a:hover .icon-praise2 {
  color: #e6cd85;
}
.zt-comment .ct-comment .com-box .text {
  width: 889px;
  border: 1px solid #222;
  background: #080808;
}
.zt-comment .ct-comment .reply-form .fll {
  display: none;
}
.zt-comment .ct-comment .reply-form .btn-box .btn-cancel {
  color: #cb9a4f;
  border: 1px solid #cb9a4f;
}
.zt-comment .ct-comment .reply-form .btn-box .btn-cancel:hover {
  color: #e6cd85;
  border: 1px solid #e6cd85;
}
.zt-comment .ct-comment .reply-form .btn-box .btn-sure {
  color: #080808;
  background: #cb9a4f;
  border: 1px solid #cb9a4f;
}
.zt-comment .ct-comment .reply-form .btn-box .btn-sure:hover {
  color: #080808;
  background: #e6cd85;
  border: 1px solid #e6cd85;
}
.zt-comment .ct-comment .reply-box {
  width: 734px;
  background: #161616;
}
.zt-comment .ct-comment .reply-box .arrow {
  border-color: transparent transparent #161616 transparent;
}
.zt-comment .ct-comment .reply-box .info a:hover {
  color: #e6cd85;
}
.zt-comment .ct-comment .reply-box .time {
  color: #666;
}
.zt-comment .ct-comment .reply-box .time a {
  color: #cb9a4f;
}
.zt-comment .ct-comment .reply-box .time a:hover {
  color: #e6cd85;
}
.zt-comment .ct-comment .reply-box .com-box .reply-form .text {
  width: 658px;
}
.zt-lucky .list li .icon {
  display: inline-block;
  width: 22px;
  height: 30px;
  vertical-align: middle;
  margin: 5px 0 0 4px;
  background: url(../images/result-prize.png) no-repeat 0 0;
}
.zt-lucky .list li .avatar {
  padding: 15px 0 30px;
}
.zt-lucky .list li .avatar img {
  margin: 0 5px;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.zt-lucky .list li.last {
  width: 485px;
  height: 194px;
  margin-right: 0;
  background: url(../images/lucky-bg.png) no-repeat center 18px;
}
.zt-lucky .list li.last p {
  overflow: visible;
  padding: 80px 0 0 120px;
  line-height: 28px;
  font-size: 17px;
  background: none;
  color: #666;
  text-align: left;
}
.goback {
  overflow: hidden;
  position: fixed;
  _position: absolute;
  bottom: 122px;
  right: 30px;
  display: block;
  width: 99px;
  height: 115px;
  background-position: -690px -200px;
}
.goback:hover {
  background-position: -690px -320px;
}
:root .ztpopup {
  filter: none;
}
.ztpopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  width: 100%;
  height: 100%;
  font-size: 0;
  background: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
}
.ztpopup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 520px;
  margin-left: -260px;
}
.ztpopup-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0 10px 10px;
}
.ztpopup-close span {
  width: 14px;
  height: 14px;
  background-position: -650px -360px;
}
.ztpopup-close:hover span {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ztpopup-bg {
  width: 100%;
  height: 50px;
  background-position: -226px -770px;
}
.ztpopup-ct {
  padding: 10px 0 90px;
  background: #222;
  text-align: center;
}
.ztpopup-ct p {
  line-height: 44px;
  font-size: 22px;
  color: #999;
  text-align: center;
}
.ztpopup-ct .info {
  line-height: 28px;
  margin-top: -10px;
  font-size: 18px;
  color: #999;
}
.ztpopup-ct .info span {
  color: #cb9a4f;
}
.ztpopup-btn {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
}
.ztpopup-btn a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 209px;
  height: 55px;
  line-height: 55px;
  background-position: -220px -710px;
  font-size: 18px;
  color: #080808;
}
.ztpopup-btn a:hover {
  background-position: -440px -710px;
}
.ztpopup-election-suc .ztpopup-ct .tip-ico {
  width: 104px;
  height: 104px;
  margin-bottom: 10px;
  background-position: -690px -440px;
}
.ztpopup-election-fail .ztpopup-ct .tip-ico {
  width: 104px;
  height: 104px;
  margin-bottom: 10px;
  background-position: -690px -550px;
}
.ztpopup-vote .ztpopup-ct .tip-ico {
  width: 115px;
  height: 104px;
  margin-bottom: 10px;
  background-position: -690px -830px;
}
.ztpopup-vote .ztpopup-ct p .num {
  color: #c1924b;
  font-size: 34px;
}
.ztpopup-vote .ztpopup-btn a {
  width: 169px;
  height: 54px;
  line-height: 54px;
  background-position: -230px -970px;
}
.ztpopup-vote .ztpopup-btn a:hover {
  background-position: -410px -970px;
}
.ztpopup-result .ztpopup-btn a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 169px;
  height: 54px;
  line-height: 54px;
  background-position: -230px -970px;
  font-size: 18px;
  color: #080808;
}
.ztpopup-result .ztpopup-btn a:hover {
  background-position: -410px -970px;
}
.ztpopup-result-over .ztpopup-ct .tip-ico,
.ztpopup-result0 .ztpopup-ct .tip-ico {
  width: 118px;
  height: 104px;
  margin: 0 0 10px;
  background-position: -690px -950px;
}
.ztpopup-result1 .ztpopup-ct .tip-ico,
.ztpopup-result2 .ztpopup-ct .tip-ico {
  width: 304px;
  height: 145px;
  background-position: -240px -1030px;
}
.ztpopup-result2 .ztpopup-ct .tip-ico {
  background-position: -240px -1180px;
}
.ztpopup-result3 .ztpopup-ct .tip-ico,
.ztpopup-result4 .ztpopup-ct .tip-ico {
  width: 304px;
  height: 145px;
  background-position: -240px -1330px;
}
.ztpopup-result4 .ztpopup-ct .tip-ico {
  background-position: -240px -1480px;
}
.ztpopup-result5 .ztpopup-ct .tip-ico {
  width: 304px;
  height: 145px;
  background-position: -240px -1630px;
}
.ztpopup-myprize .ztpopup-ct {
  padding: 10px 0 60px;
}
.ztpopup-myprize .ztpopup-ct .tit {
  position: relative;
  padding-bottom: 10px;
  text-align: left;
  margin: 0 40px;
  line-height: 40px;
}
.ztpopup-myprize .ztpopup-ct .tit h3 {
  font-size: 22px;
  color: #666;
}
.ztpopup-myprize .ztpopup-ct .tit h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background: #cb9a4f;
}
.ztpopup-myprize .ztpopup-ct .list {
  text-align: left;
  margin: 0 10px;
  max-height: 184px;
  overflow-y: auto;
  scrollbar-arrow-color: #181818;
  /*三角箭头的颜色*/
  scrollbar-face-color: #181818;
  /*立体滚动条的颜色*/
  scrollbar-shadow-color: #181818;
  /*立体滚动条阴影的颜色*/
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
}
.ztpopup-myprize .ztpopup-ct .list::-webkit-scrollbar {
  width: 6px;
  background-color: #181818;
}
.ztpopup-myprize .ztpopup-ct .list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #181818;
  height: 40px;
}
.ztpopup-myprize .ztpopup-ct .list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #333;
}
.ztpopup-myprize .ztpopup-ct .list .no-prize {
  text-align: center;
  font-size: 16px;
  color: #666;
  padding: 20px 0 0;
  line-height: 45px;
}
.ztpopup-myprize .ztpopup-ct .list li {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  margin: 0 30px;
  font-size: 16px;
  color: #666;
  border-bottom: 1px solid #181818;
}
.ztpopup-myprize .ztpopup-ct .list li a {
  color: #cb9a4f;
}
.ztpopup-myprize .ztpopup-ct .list li a:hover {
  color: #e6cd85;
}
.ztpopup-save .ztpopup-ct {
  padding-bottom: 70px;
}
.ztpopup-save .ztpopup-ct .tip-ico {
  width: 104px;
  height: 104px;
  margin-bottom: 10px;
  background-position: -690px -440px;
}
.ztpopup-guess .ztpopup-ct,
.ztpopup-guess-select .ztpopup-ct {
  padding-bottom: 100px;
}
.ztpopup-guess .ztpopup-ct .tip-ico,
.ztpopup-guess-select .ztpopup-ct .tip-ico {
  width: 104px;
  height: 104px;
  margin-bottom: 10px;
  background-position: -690px -440px;
}
.ztpopup-guess-select .ztpopup-ct {
  padding-bottom: 60px;
}
.ztpopup-guess-select .ztpopup-ct .info {
  font-size: 16px;
  filter: alpha(opacity= 50 );
  opacity: 0.5;
}
.page a {
  background: #222;
  color: #666;
}
.page a:hover {
  color: #080808;
  background: #ff8d01;
}
.page strong,
.page strong.cur {
  color: #080808;
  background: #ff8d01;
}
.page-gray .pg strong,
.page-gray .pg strong.cur,
.page-gray .pg a:hover,
.page-gray .pg a.nxt:hover {
  background-color: #cb9a4f;
  color: #080808;
}
.pg,
.pape_no {
  text-align: center;
}
.pg a,
.pape_no a,
.pg a.nxt,
.pape_no a.nxt,
.pg strong,
.pape_no strong,
.pg label,
.pape_no label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin: 0 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 18px;
  font-size: 16px;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #666;
  background-color: #222;
}
.pg label .px,
.pape_no label .px {
  padding: 0;
  width: 25px;
  height: 16px;
  line-height: 16px;
}
.pg label:hover,
.pape_no label:hover {
  color: #666;
  background-color: #222;
}
.pg strong,
.pape_no strong,
.pg strong.cur,
.pape_no strong.cur,
.pg a:hover,
.pape_no a:hover,
.pg a.nxt:hover,
.pape_no a.nxt:hover {
  font-weight: 400;
  background-color: #cb9a4f;
  color: #080808;
}
.pg span,
.pape_no span {
  padding: 0;
  background: none;
}
.pg input,
.pape_no input {
  height: 20px;
  line-height: 20px;
  background: #666;
  color: #080808;
  border: 0;
  text-align: center;
  font-size: 14px;
}
.page-election {
  padding: 50px 0;
}
