@charset "utf-8";
@import url(../../../common/common.less);
@import url(../../../common/flexible.less);
@page-w: 750;
@blue: #0f92fb;
@green: #21bb1d;
@green-h: #f7f8fa;
@red: #f33;
@yellow: #ff701b;
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: #fff;
}
img {
    border: 0;
    max-width: 100%;
}
:focus {
    outline-style: none;
}
input[type="search"] {
    -webkit-appearance: none;
}
a {
    color: #333;
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
    &:hover {
		text-decoration: none;
    }
}
html, body {
    .fz(16);
    -webkit-overflow-scrolling: touch;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.text-e1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.text-e2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.hide {
	.dis(n) !important;
}
.pt60 {
	.pds(t, 60) !important;
}

.bdr10 {
    .bdr(10 / @font);
}
.flex-wrap {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
}

.flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
body {
    min-width: 100%;
}
.wrap {
    .pos(r);
    min-height: 100vh;
    .w(@page-w);
    margin: 0 auto;
    .cl();
    background: #fff;
}
.blue {
    color: @blue  !important;
}
.yellow {
    color: @yellow  !important;
}

.header {
	.pos(r);
	z-index: 980;
	.h(160);
	.pd(47, 0);
	.cl();
    background: @blue;
    color: #fff;
    .fz(0);
    h2 {
        .mg(0, 36);
		img {
			.mg(10, 0, 0);
			.h(56);
			.dis(ib);
			vertical-align: middle;
			color: #fff;
		}
	}
	.fr {
		.btn {
			.dis(ib);
			vertical-align: top;
			.fz(26);
			.lh(60);
			.w(174);
			text-align: center;
			color: #fff;
			border: 2 / @font solid #fff;
			.bdr(62 / @font);
			.mgs(r, 46);
		}
	}
}
.menu {
	&-down {
		.dis(ib);
		vertical-align: top;
		.pd(14);
		.fz(38);
		.mgs(r, 22);
		cursor: pointer;
	}
	&-sub {
		.dis(n);
		.pos(f);
		.t(160);
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, .3);
		cursor: auto;
		ul {
			background: #fff;
			.lh(114);
		}
		li {
			.lh(114);
			.pd(0, 35);
			.fz(32);
			color: #333;
			border-bottom: 1px solid #eee;
			&:last-child {
				border: 0;
			}
			a {
				.dis(b);
				color: #333;
			}
			span {
				.dis(ib);
				vertical-align: middle;
				.mg(-3, 30, 0, 0);
				.fz(32);
				color: #999;
			}
		}
	}
}

.i-func {
    .pd(20, 6, 5);
    .fz(0);
    li {
        .dis(ib);
        vertical-align: top;
        width: 25%;
        .pds(t, 20);
        text-align: center;
        span {
            .dis(b);
            margin: 0 auto;
            .mgs(b, 10);
            .w(90);
			.lhh(90);
			.bdr(50%);
			.fz(44);
			color: #fff;
			text-align: center;
			&.icon-toutiao {
			    background: #ff5969;
			}
			&.icon-zhuanfang {
			    background: #f9be20;
			}
			&.icon-shejishi {
			    background: #3f9af7;
			}
			&.icon-zhaopin {
			    background: #1ccb7a;
			}
        }
        p {
            .lhh(50);
            .text-e(1);
            .fz(28);
            color: #333;
        }
        &:hover {
            p {
                color: @blue;
            }
        }
	}
}

.box {
	.pd(60, 36);
	.tit {
		line-height: 1;
		.fz(36);
		color: #333;
	}
	.list {
		li {
			.cl();
			.pds(t, 48);
			.img {
				.w(352);
				.h(220);
				.mgs(r, 22);
				.bdr(10 / @font);
			}
			h3 {
				.mgs(t, 7);
				.lh(48);
				.fz(30);
				color: #333;
			}
			.name {
				.lh(34);
				.pds(t, 27);
				.fz(22);
				color: #333;
				a {
					column-rule: #333;
					&:hover {
						color: @blue;
					}
				}
			}
			.info {
				.pds(t, 20);
				.lh(28);
				color: #bbb;
				font-size: 0;
				em {
					.mgs(r, 40);
					.fz(20);
					span {
						.dis(ib);
						vertical-align: middle;
						.mg(-3, 8, 0, 0);
						.fz(23);
						color: #ccc;
					}
				}
			}
			a {
				&:hover {
					h3 {
						color: @blue;
					}
				}
			}
		}
		.more {
			text-align: center;
			a {
				.dis(ib);
				vertical-align: top;
				.fz(26);
				color: #999;
				.w(190);
				.lh(62);
				border: 2 / @font solid #999;
				.bdr(62 / @font);
				&:hover {
					color: @blue;
					border-color: @blue;
				}
			}
		}
	}
}

.footer {
	.pd(55, 0, 28);
	text-align: center;
	color: #fff;
	background: #0084ff;
	background: -webkit-linear-gradient(top,  #0084ff 0%,#7db9e8 100%);
	background: linear-gradient(to bottom,  #0084ff 0%,#7db9e8 100%);
	.logo {
		.h(56);
	}
	p {
		.lh(72);
		.fz(32);
	}
	.btn {
		.dis(ib);
		vertical-align: top;
		.w(250);
		.lh(80);
		.mgs(t, 22);
		.bdr(80 / @font);
		color: #fff;
		background: @blue;
		text-align: center;
		.fz(30);
		.box-shadow(0, 0, 10px, rgba(15, 146, 252, .35));
	}
	.copyright {
		.pds(t, 24);
		.lh(30);
		.fz(18);
	}
}

.content {
	.pd(0, 35, 45);
	.lh(58);
	.fz(34);
	border-top: 1px solid #eee;
	&-tit {
		.pd(46, 35,  60);
		.title {
			.lh(70);
			h1 {
				.dis(ib);
				vertical-align: middle;
				.fz(46);
				color: #333;
			}
			span {
				.dis(ib);
				vertical-align: middle;
				.fz(38);
				.mg(-3, 0, 0, 20);
			}
		}

		.infos {
			.pd(10, 0, 0);
			.lh(44);
			.fz(28);
			color: #bbb;
			a {
				color: #bbb;
				&:hover {
					color: @blue;
				}
			}
			.line {
			    .mg(0, 20);
			}
		}
		.designer {
			.pds(t, 50);
		}
	}
	.ct-video {
		.mg(45, 0, 0);
		video {
			.dis(b);
			.w(680);
			.h(376);
			background: #000;
		}
		.video-poster {
			.dis(n);
		}
	}
	img {
		max-width: 100% !important;
	}
	.picview {
		.pds(t, 48);
	}

	&-info {
		.pd(64, 0, 0);
		.mg(0, 35);
		border-top: 1px solid #eee;
		.tit {
			line-height: 1;
			.fz(36);
			color: #333;
		}
		.ct {
			.pd(40, 0, 25);
			.lh(60);
			dl {
				.pd(10, 0);
				.fz(28);
				color: #999;
			}
			dt {
				float: left;
			}
			dd {
				.mgs(l, 172);
				.tag {
					.dis(ib);
					vertical-align: top;
					.pd(0, 24);
					.mgs(l, 20);
					.fz(24);
					background: #f7f8fa;
					color: #999;
					.bdr(60 / @font);
				}
				a.tag:hover {
					background: @blue;
					color: #fff;
				}
			}
		}
	}
	&-other {
		.pd(60, 35);
		border-top: 20px solid #f7f8fa;
		.tit {
			.pos(r);
			line-height: 1;
			.fz(36);
			color: #333;
			.more {
				.pos(a);
				.t(16);
				.r(0);
				.fz(28);
				color: @blue;
			}
		}
		.list {
			.pd(35, 0, 0);
			.mgs(r, -35);
			.ovx(a);
			font-size: 0;
			white-space: nowrap;
			li {
				.dis(ib);
				vertical-align: top;
				.mgs(r, 24);
				img {
					.w(304);
					.h(190);
					.bdr(16 / @font);
				}
			}
		}
	}
	&-comment {
		.pd(60, 35);
		border-top: 20px solid #f7f8fa;
		.tit {
			.pos(r);
			line-height: 1;
			.fz(36);
			color: #333;
			span {
				.fz(32);
				color: #999;
				.mgs(l, 32);
			}
			.more {
				.pos(a);
				.t(16);
				.r(0);
				.fz(28);
				color: @blue;
			}
		}
		li {
			.pd(50, 0);
			border-bottom: 1px solid #eee;
		}
		.com-box {
			.fll {
				float: left;
			}
			.avatar {
				img {
					.w(76);
					.h(76);
					.bdr(50%);
				}
			}
			.tt, .info {
				.pos(r);
				.pds(t, 16);
				.mgs(l, 95);
				.lh(48);
				font-size: 0;
				a {
				    .dis(ib);
					vertical-align: middle;
					.fz(32);
					color: #333;
				}
				img {
					.dis(ib);
					vertical-align: middle;
					.w(30);
					.mgs(l, 8);
				}
				.time, .times {
					.dis(ib);
					vertical-align: bottom;
					.fz(24);
					color: #666;
					.mgs(l, 10);
				}
			}
			.tt {
				.pds(r, 100);
			}
			.info {
				.pds(t, 24);
				.fz(30);
				color: #666;
				.btn-box {
					a {
						.dis(n);
					}
					.btn-praise {
						.dis(b);
						.pos(a);
						.t(-58);
						right: 0;
						color: #bbb;
						.fz(20);
						&.praise-ok {
							color: @blue;
						}
						.add {
							display: none;
							position: absolute;
							.t(-20);
							right: 0;
							.fz(20);
							.lhh(24);
							color: @blue;
							white-space: nowrap;
						}
					}
				}
			}
			.cpshowimg {
				.dis(n);
			}
		}
		.reply-box {
			.pd(32, 32, 7);
			.mg(30, 0, 0, 95);
			background: #f7f8fa;
			.bdr(10 / @font);
			.com-box {
			    .avatar {
					.mgs(r, 18);
			        img {
			            .w(48);
			            .h(48);
			        }
			    }
				.tt, .info {
					.pds(t, 4);
					.mgs(l, 0);
					.lh(40);
					.fz(28);
					.cl();
					.mgs(b, 25);
				}
				.info {
					.btn-box {
						.dis(n);
					}
					a, span {
						.fz(28);
					}
					span {
						.dis(ib);
						vertical-align: middle;
						.mg(0, 20);
					}
					.time, .times {
						.dis(n);
					}
					&:first-of-type {
						.mgs(b, 0);
					}
				}
			}
		}
		.more-comment {
			.dis(b);
			.pds(b, 25);
		    .lh(32);
		    .fz(24);
			color: #999;
			&:hover {
				color: @blue;
			}
		    .triangle {
		        .dis(n);
		    }
		}
	}
}
.designer {
	.cl();
    .img {
        .w(76);
        .mg(0, 20, 0, 0);
        img {
            .dis(ib);
            vertical-align: top;
            .w(76);
            .h(76);
            .bdr(50%);
        }
    }
    .name {
        .lh(40);
        .fz(0);
        color: #333;
        strong {
            display: block;
            .lh(40);
            .fz(32);
        }
        a {
            .dis(ib);
            vertical-align: middle;
            color: #333;
            .mgs(r, 10);
            &:hover {
                color: @blue;
            }
        }
        img {
            .dis(ib);
            vertical-align: middle;
            .w(30);
            .mg(0, 0, 0, 8);
        }
    }
    .address {
        .lh(36);
        .fz(24);
		color: #bbb;
		span {
			color: #666;
			.mgs(l, 18);
		}
    }
}
.popup {
	.dis(n);
	.pos(f);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	background: rgba(0, 0, 0, .3);
	cursor: pointer;
	> div {
		.pos(a);
		top: 50%;
		left: 50%;
		.w(600);
		.pd(113, 0, 144);
		.translate(-50%, -50%);
		cursor: auto;
	}

}
.no-result {
    .bdr(20/@font);
    background: #fff;
    text-align: center;
	img {
	    .dis(ib);
		vertical-align: top;
		.w(404);
	}
	p {
	    .lh(40);
	    .pds(t, 33);
	    .fz(28);
	    color: #999;
	}
}
.box-sjs {
	.pd(16, 0, 60);
	.tit {
	    line-height: 1;
	    .fz(36);
	    color: #333;
	}
	.list {
		dl {
			.pd(50, 0, 0, 0);
		}
		dt {
			.w(80);
			float: left;
			text-align: center;
			.lh(96);
			.fz(24);
			color: #999;
			font-weight: 700;
		}
		dd {
			.mgs(l, 80);
		}
		li {
			.pd(52, 0);
			border-bottom: 1px solid #eee;
		}
	}
	.designer {
		.img {
			.w(96);
			img {
			    .w(96);
			    .h(96);
			}
		}
		.name {
			.pds(t, 8);
		}
		.address {
			.pds(t, 4);
		}
	}
	.imglist {
		.pds(t, 32);
		font-size: 0;
		img {
			.w(206);
			.h(128);
			.mgs(r, 8);
			.bdr(10 / @font);
		}
	}
	.more {
	    text-align: center;
	    a {
	        .dis(ib);
	        vertical-align: top;
	        .fz(26);
	        color: #999;
	        .w(190);
	        .lh(62);
	        border: 2 / @font solid #999;
	        .bdr(62 / @font);
	        &:hover {
	            color: @blue;
	            border-color: @blue;
	        }
	    }
	}
}
.tab-tit {
	.dis(flex);
	h2 {
		.pos(r);
		.flex(1);
		.lh(84);
		.fz(32);
		text-align: center;
		a {
			color: #333;
			&:hover {
				color: @blue;
			}
		}
		&.cur {
			.fz(38);
			font-weight: 700;
			&:after {
			    content: '';
			    .pos(a);
			    .b(-6);
			    left: 50%;
			    .w(40);
			    .h(6);
			    .mgs(l, -20);
			    background: @blue;
			    .bdr(6/@font);
			}
		}
	}
}

.so {
	&-header {
		.cl();
		.pd(50, 0, 0);
		.back {
			.dis(b);
			.w(90);
			.lh(76);
			text-align: center;
			color: #333;
			.fz(34);
			&:hover {
				color: @blue;
			}
		}
		.so-box {
			float: left;
			.pos(r);
			.w(527);
			.input {
				width: 100%;
				.lhh(76);
				.pd(0, 80, 0, 96);
				.bdr(76/@font);
				border: none;
				.fz(32);
				color: #333;
				background: #f7f8fa;
				&::-webkit-input-placeholder {
				    color: #bbb;
				}
			}
			span {
				.pos(a);
				.t(20);
				.l(36);
				.fz(35);
				color: #ddd;
			}
			.icon-quxiao {
				.dis(n);
				left: auto;
				.r(36);
				cursor: pointer;
			}
			.btn {
				.pos(a);
				top: 0;
				.r(-133);
			    .w(133);
			    .lh(76);
			    .fz(32);
			    color: #333;
			    border: none;
			    background: none;
				text-align: center;
				cursor: pointer;
			}
		}
	}
	&-footer {
		.pos(f);
		.b(80);
		left: 0;
		width: 100%;
		text-align: center;
		.btn {
		    .dis(ib);
		    vertical-align: top;
		    .w(250);
		    .lh(80);
		    .mgs(t, 22);
		    .bdr(80 / @font);
		    color: #fff;
		    background: @blue;
		    text-align: center;
		    .fz(30);
		    .box-shadow(0, 0, 10px, rgba(15, 146, 252, .35));
		}
	}
	&-noresult {
		.pds(t, 215);
	}
	&-result {
		.pd(40, 0, 0);
		.tab-tit {
			.pos(r);
			.mgs(b, -20);
			background: #fff;
		}
		.box-sjs {
		    border-top: 20/@font solid #eee;
			.pd(60, 36);
		}
		.box {
			border-top: 20/@font solid #eee;
		}
	}
}

// 弹窗
.alerttips {
    .pos(a);
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);
	.pd(50, 60);
    min-width: 400/@font;
    text-align: center;
    .bdr(10px);
    .fz(30);
    color: #fff;
    white-space: nowrap;
	background: rgba(0, 0, 0, .6);
	&-box {
	    .dis(n);
	    .pos(f);
	    top: 0;
	    left: 0;
	    z-index: 998;
	    width: 100%;
	    height: 100%;
	    background: rgba(0, 0, 0, 0);
	}
}

.user {
	&-info {
		.pd(60, 0, 0);
		.designer {
			.pd(0, 0, 50);
			text-align: center;
			.img {
				.w(160);
				margin: 0 auto;
				img {
					.w(160);
					.h(160);
				}
			}
			.info {
				.pd(40, 0, 0);
			}
			.name {
				line-height: 1;
				strong {
					.dis(ib);
					vertical-align: middle;
					line-height: 1;
					.fz(42);
				}
				img {
					.w(30);
					.mgs(l, 10);
				}
			}
			.address {
				.pd(20, 0, 0);
				.fz(26);
				color: #999;
			}
			.slogan {
				.pd(11, 0, 0);
				.fz(24);
				color: #999;
			}
		}
		.ranking {
			.pd(0, 0, 50);
			.dis(flex);
			text-align: center;
			dl {
				.flex(1);
			}
			dt {
				.lh(38);
				.fz(28);
				font-weight: 700;
				color: #333;
			}
			dd {
				.lh(35);
				.fz(24);
				color: #999;
			}
		}
		.tab-tit {
			.pd(30, 0, 0);
			border-top: 1px solid #eee;
		}
		.box {
			padding-top: 0;
		}
	}
	&-datalist {
		.pds(b, 30);
		.item {
			border-top: 20px solid #f7f8fa;
			&:first-child {
				border: none;
			}
			dl {
				.pd(40, 0, 16);
				.mg(0, 36);
				.lh(56);
				border-bottom: 1px solid #eee;
				&:last-child {
					border: none;
				}
			}
			dt {
				float: left;
				.w(118);
				.fz(32);
				color: #999;
			}
			dd {
				.mgs(l, 118);
				.fz(32);
				color: #333;
			}
		}
	}
}

.box-down {
	width: 100%;
	height: 100%;
	height: 100vh;
	background: #078bb2 url(../images/app-bg.jpg) no-repeat center center / cover;
	.btn-box {
		.pos(a);
		.b(120);
		left: 50%;
		.w(460);
		.mgs(l, -460/2);
		.btn  {
			.dis(b);
			width: 100%;
			.lh(130);
			.mgs(t, 40);
			background: #fff;
			.bdr(130/@font);
			text-align: center;
			.fz(34);
			color: #444;
			span {
				.dis(ib);
				vertical-align: middle;
				.mg(-3, 40, 0, 0);
				.fz(52);
				color: @blue;
			}
		}
	}
}