@charset "utf-8";
@import url(../../../common/common-pc.less);

@page-w: 1220px;
@yellow: #ff6c00;
@yellow-h: #fd9932;
@blue: #0084ff;
@blue-h: #0097f9;
@green: #21bb1d;
@green-h: #2ed35c;
@red: #ff3a3a;
@red-h: #f95678;

@gray: #ddd;
input::-ms-clear, input::-ms-reveal {
  display: none;
}
.yellow {
    color: @yellow !important;
}
.blue {
    color: @blue !important;
}
.bg-blue {
    background: @blue !important;
}
.bg-green {
    background: @green !important;
}
.bdr4 {
    .bdr(4px);
}

.w368 {
    width: 368px;
}
.w832 {
    width: 832px;
}
.mt0 {
    margin-top: 0 !important;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb60 {
    margin-bottom: 60px;
}
.ml10 {
    margin-left: 10px;
}
.pt20 {
	padding-top: 20px;
}
.pt40 {
	padding-top: 40px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb60 {
	padding-bottom: 60px;
}
body {
	background: #f6f6f6;
}
#sld-kc {
    @h: 340px;
    .pos(r);
    width: @page-w;
    height: @h;
    margin: 0 auto;

    .slides_container {
        width: @page-w;
        height: @h;
        .ov(h);
        img {
            .bdr(3px);
            background: #eee url(../images/logo.png) no-repeat center center;
            background: #eee url(../images/logo.svg) no-repeat center center ~'/' 94px auto;
            &:after {
                content: '';
                .pos(a);
                top: 0;
                left: 0;
                width: @page-w;
                height: @h;
                .bdr(3px);
                background: #eee url(../images/logo.png) no-repeat center center;
                background: #eee url(../images/logo.svg) no-repeat center center ~'/' 94px auto;
            }
        }
    }
    .pagination {
        position: absolute;
        bottom: 20px;
        z-index: 6;
        width: 100%;
        height: 10px;
        padding: 10px 0;
        line-height: 10px;
        text-align: center;

        li {
            .dis(i);
        }
        a {
            .dis(ib);
            .ov(h);
            width: 8px;
            height: 8px;
            margin: 0 3px;
            background: #fff;
            line-height: 200px;
            .bdr(10px);
            .opacity(.4);
        }
        .cur {
            a {
                width: 18px;
                .opacity(1);
            }
        }
    }
    .icon-zuojiantou, .icon-youjiantou {
        .dis(n);
        position: absolute;
        top: 0;
        .ov(h);
        width: 60px;
        height: @h;
        line-height: @h;
        z-index: 55;
        font-size: 20px;
        cursor: pointer;
        color: #fff;
        text-align: center;
        &:hover {
            color: @blue;
        }
    }
    .icon-zuojiantou {
        left: 0;
    }
    .icon-youjiantou {
        right: 0;
    }
    &:hover {
        .icon-zuojiantou, .icon-youjiantou {
            .dis(b);
        }
    }
}

.zsj-kc {
	.cl();
	.tit {
		.pos(r);
		text-align: center;
		.iup-box {
			.pos(a);
			top: 40px;
			right: 0;
		}
		h2 {
			margin: 0 32px;
		}
	}
	.list {
		padding: 0 0 40px;
		margin-right: -40px;
		li {
			width: 380px;
			margin: 40px 40px 0 0;
			.img-box {
				width: 100%;
				height: 240px;
				img {
					width: 380px;
					height: 240px;
				}
			}
			h3 {
				padding: 29px 30px 0 30px;
				margin-bottom: 23px;
				line-height: 30px;
				height: auto;
				max-height: 60px;
				font-weight: 700;
				font-size: 18px;
				.text-e(2);
				a {
					.text-e(2);
				}
			}
			.info {
				line-height: 30px;
				height: 30px;
				padding: 0 30px;
				margin-bottom: 30px;
				.price {
					font-size: 24px;
					color: @red;
				}
				.tag {
					.dis(ib);
					vertical-align: top;
					padding: 0 14px;
					margin: 0 0 0 20px;
					font-size: 14px;
					color: #999;
					background: #f6f6f6;
					.bdr(4px);
					&:hover {
						color: #666;
					}
				}
			}
			.user {
				height: auto;
				border: none;
				padding: 20px 30px 30px;
				img {
					float: left;
					width: 54px;
					height: 54px;
					vertical-align: top;
					margin: 0 16px 0 0;
				}
				a {
					.dis(i);
					margin: 0;
				}
				.name {
					.height(18px);
					padding: 7px 0 0;
					font-size: 0;
					a {
						font-size: 16px;
						margin-right: 12px;
					}
					img {
						float: none;
						width: 17px;
						height: 18px;
						margin: 0 0 0 8px;
						.bdr(0);
						background: none;
					}
				}
				p {
					.height(20px);
					padding: 5px 0 0;
					font-size: 14px;
					color: #888;
				}
			}
		}
	}
	.no-result {
		padding: 60px 0 70px;
		margin: 30px 0 60px;
		p {
			padding: 24px 0 0;
		}
	}
}
.page-kc {
	padding: 0 0 60px;
}

// 播放页
.v {
	&-tab {
		.pos(r);
        .cl();
        background: #fff;
        padding: 11px 0 0;
        li {
			.pos(r);
            float: left;
            .height(65px);
            margin: 0 64px 0 0;
            color: #666;
            font-size: 16px;
            cursor: pointer;
            &.cur, &:hover {
                color: @blue;
				font-weight: 700;
				&:after {
					content: '';
					.pos(a);
					left: 50%;
					bottom: 0;
					width: 20px;
					height: 2px;
					background: @blue;
					margin-left: -10px;
				}
			}
			a {
				.dis(ib);
				vertical-align: top;
			}
		}
		.btn-box {
			.pos(a);
			right: 0;
			bottom: 0;
			padding: 0 10px;
			line-height: 52px;
			font-size: 0;
			a {
				.dis(ib);
			}
			.btn-cai {
				margin-left: 40px;
			}
			.btn-cai, .btn-zan {
				span {
					.dis(ib);
					vertical-align: middle;
					font-size: 20px;
					margin: 0 10px 0 0;
					color: #999;
				}
				i {
					.dis(ib);
					vertical-align: middle;
					font-size: 14px;
				}
				&.cur, &:hover {
					span {
						color: @blue;
					}
				}
			}
			.per {
				.pos(a);
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: #ccc;
				span {
					.dis(b);
					height: 2px;
					background: #aaa;
				}
			}
		}
    }
}
.v-tab-cont {
	.dis(n);
	background: #fff;
	text-align: justify;
}
.info-cont {
	&1 {
		.dis(b);
		overflow: hidden;
		font-size: 16px;
		line-height: 32px;
		color: #444;
	}
	&3 {
		padding: 0;
		li {
			padding: 30px 40px;
			border-top: 1px solid #eee;
			font-size: 0;
			&:hover {
				background: #f2f2f2;
			}
		}
		.num {
			.ov(h);
			.dis(ib);
			vertical-align: middle;
			width: 45px;
			height: 37px;
			line-height: 37px;
			font-size: 14px;
			color: #666;
		}
		.ico-compress {
			display: inline-block;
			vertical-align: middle;
			width: 46px;
			height: 37px;
			margin: 0 20px 0 0;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAlCAYAAAA9ftv0AAAA+ElEQVRYhe3YMQ4BQRSA4Z8oUCAkDuAiKsXegEKhEJ1EIRoHUGm0NLiBZBuNU0iUKo2gUwl5siVBjBeTvK/fN392NrPJxParIA0MgSqQ5bUzsAM2QAjMgdOzpwrl8I2Rn4sDA6D1ZrRIASUgAEbAFuhEs9TIYo0vF8tEO7YA0lrh8qlcHc5byk4UirmLw5kPud7eCtBzPPOh2HVdc/nGf00OgSnQTXgULXJAW0421ZPAoaav4Xlfw3V/Gi5ZuDYL12bh2ixcm4Vrs3BtFq7NwrVZuDYL12bh2rwOP/5Bx6cOEj72q/luIre1fSAJ1KPb0H8m18wzoH8D2mQhfH0kBesAAAAASUVORK5CYII=) no-repeat 0 0;
		}
		.name {
			.ov(h);
			.dis(ib);
			vertical-align: middle;
			height: 37px;
			line-height: 37px;
			font-size: 14px;
			color: #666;
			a {
				color: #666;
				&:hover {
					color: @yellow;
				}
			}
		}
		.btn {
			.ov(h);
			.dis(ib);
			vertical-align: middle;
			width: 84px;
			height: 30px;
			line-height: 30px;
			font-size: 14px;
			color: #fff;
			margin-top: 2px;
			background: @green;
			text-align: center;
			.bdr(4px);
			&:hover {
				background: @green-h;
			}
		}
	}
}
.side {
	&-info {
		background: #fff;
		.bdr(4px);
		.base {
			padding: 40px 0 25px;
			.img {
				.dis(b);
				width: 96px;
				margin: 0 auto;
				img {
					.dis(b);
					width: 96px;
					height: 96px;
					.bdr(50%);
				}
			}
			.name {
				padding: 10px 0 0;
				line-height: 30px;
				text-align: center;
				font-size: 0;
				color: #333;
				a {
					color: #333;
					font-size: 16px;
					.dis(ib);
					vertical-align: middle;
					&:hover {
						color: @blue;
					}
				}
				img {
					.dis(ib);
					vertical-align: middle;
					font-weight: 400;
					width: 17px;
					margin: 0 0 0 10px;
					color: @yellow;
				}
			}
			p {
				padding: 10px 0 0;
				line-height: 20px;
				font-size: 14px;
				color: #333;
				text-align: center;
			}
		}
		.intro {
			padding: 20px 15px 40px 39px;
			border-top: 1px solid #eee;
			p {
				line-height: 30px;
				color: #666;
				font-size: 14px;
				text-align: justify;
			}
		}
	}
}
.ct-comment-new {
	@cha: 388px;
	.input {
		margin-top: 0;
		width: 1140px - @cha;
		font-size: 0;
		.textarea {
			width: 1009px - 60px - @cha;
			height: 74px - 30px;
			vertical-align: top;
		}
		.tips {
			width: 1009px - 30px - @cha;
			height: 74px - 30px;
		}
		& + .btn-box {
			.btn-del {
				margin: 0;
			}
		}
	}
	.btn-box {
		.btn-smile {
			span {
				color: #ccc;
			}
			&:hover {
				span {
					color: @blue;
				}
			}
		}
	}
	.com-box {
		.reply-form {
			.text {
				width: 942px - 40px - 14 - @cha;
			}
		}
	}
	.reply-box {
		.com-box {
			.reply-form {
				.text {
					width: 1072px - 80px - 44px - 130px - 64 - @cha;
				}
			}
		}
	}
}
.page-comment {
	padding: 40px 0 0;
}

.popup-share {
	.popup {
		width: 450px;
		height: 290px;
		padding: 0;
		margin: -290px/2 0 0 -450px/2;
	}
	.popup-tit {
		color: #333;
	}
	.popup-ct {
		max-height: none;
		padding: 0;
		margin: 0;
	}
	.bdsharebuttonbox {
		float: none;
		padding: 40px 0;
		text-align: center;
		font-size: 0;
		a {
			float: none;
			display: inline-block;
			vertical-align: middle;
			width: 56px;
			height: 56px;
			line-height: 56px;
			padding: 0;
			margin: 0 18px;
			font-size: 56px;
			text-indent: 0;
			background: none;
			color: #fff;
			.bdr(50%);
			&:hover {
				color: #fff;
			}
		}
		.icon-swx {
			background: #1ccd27;
		}
		.icon-swb {
			background: #ff3e3e;
		}
		.icon-sqq {
			background: #0aa0ff;
		}
		.icon-sqzone {
			background: #ffcc00;
		}
	}
	.copy-box {
		.ov(h);
		.pos(r);
		width: 328px - 110;
		height: 42px;
		line-height: 42px;
		padding: 0 90px 0 20px;
		margin: 0 auto;
		border: 1px solid #dcdcdc;
		font-size: 14px;
		color: #999;
		.bdr(4px);
		.input {
			width: 100%;
			height: 100%;
			.text-e(1);
		}
		#contents {
			.pos(a);
			top: 0;
			left: 0;
			height: 0;
			.opacity(0);
		}
		.btn {
			.pos(a);
			right: 20px;
			top: 0;
			color: @blue;
			&:hover {
				color: @blue-h;
			}
		}
	}
}
.bd_weixin_popup_bg {
	z-index: 9 !important;
}
.bd_weixin_popup {
	margin-top: 376px;
	padding: 15px 0 26px 0 !important;
}
.popup-buy {
	.popup {
	    width: 648px;
	    height: 438px;
	    padding: 0;
	    margin: -438px/2 0 0 -648px/2;
	}
	.popup-tit {
	    color: #333;
	}
	.popup-ct {
	    max-height: none;
	    padding: 0;
	    margin: 0;
	}
	.list {
	    padding-top: 40px;
	    .cl();
	    li {
	        .ov(h);
	        float: left;
	        width: 200px;
			margin: 0 0 0 66px;
			.img {
				padding: 10px;
				.bdr(4px);
			}
	        img {
	            .dis(b);
	            width: 180px;
				height: 180px;
				.bdr(4px);
	        }
	        .btn {
	            .dis(b);
	            width: 170px;
	            height: 44px;
				line-height: 44px;
				margin: 40px auto 0;
	            color: #fff;
	            font-size: 14px;
	            text-align: center;
	            .bdr(5px);
	            &-blue {
	                background: @blue;
	                &:hover {
	                    background: @blue-h;
	                }
	            }
			}
			strong {
				.dis(b);
				line-height: 35px;
				margin-top: 26px;
				font-size: 30px;
				color: @red;
				text-align: center;
			}
			p {
				line-height: 30px;
				font-size: 14px;
				color: #333;
				text-align: center;
			}
	    }
	}
}

// 通用下拉
.item-select {
    .pos(r);
    z-index: 2;
    .select-list {
        .dis(n);
        .pos(a);
        top: 44px;
		left: 0;
		z-index: 999;
        width: 100%;
        padding: 10px 0 0;
        line-height: 32px;
		font-size: 14px;
		div {
			padding: 10px 0;
			border: 1px solid #dcdcdc;
			.box-shadow(0, 0, 6px, rgba(24, 28, 27, .15));
			background: #fff;
			.bdr(4px);
		}
		ul {
			.ovy(a);
			max-height: 32 * 5px;
		}
        li {
            padding: 0 20px;
            cursor: pointer;
            text-align: left;
            color: #333;
            &:hover {
				color: @blue;
                background: #f6f6f6;
            }
        }
	}
	dd:hover {
		.input {
			border: 1px solid @blue;
		}
		.icon-sanjiao {
			.rotate(180deg);
		}
	}
}

.kc {

	&-tit {
		padding: 0 34px;
		line-height: 70px;
		font-size: 16px;
		color: #666;
		border-bottom: 1px solid #eee;
		text-align: center;
		a {
			.pos(r);
			.dis(ib);
			vertical-align: top;
			margin: 0 32px;
			font-size: 16px;
			color: #666;
			&.cur, &:hover {
				color: @blue;
				font-weight: 700;
				&:after {
					content: '';
					.pos(a);
					bottom: -1px;
					left: 50%;
					width: 20px;
					height: 2px;
					margin-left: -10px;
					background: @blue;
				}
			}
		}
	}
	&-ct {
		padding: 30px 0 0 100px;
	}

    &-form {
		padding-bottom: 40px;
		background: #fff;
		font-size: 0;
		.bdr(4px);

		dt {
			float: left;
			width: 93px;
			padding: 0 0 0 59px;
			line-height: 44px;
			font-size: 14px;
			color: #666;
			span {
				color: @red;
			}
		}
		dd {
			.pos(r);
			margin-left: 152px;
			i {
				.dis(ib);
				vertical-align: top;
				font-size: 14px;
				color: #999;
				padding: 0 20px;
				line-height: 44px;
			}
		}
        .input, .textarea, .tagsContaine {
			width: 798px - 50;
            .height(24px);
            padding: 9px 30px 9px 20px;
            border: 1px solid #dcdcdc;
            .bdr(4px);
            background: #fff;
            color: #333;
            font-size: 14px;
            &:focus {
                border: 1px solid @blue;
				.box-shadow(0, 0, 5px, rgba(0, 132, 255, .2));
				&+.icon-sanjiao {
					.rotate(180deg);
				}
            }
            &::-webkit-input-placeholder{
                color: #bbb;
            }
            &::-moz-placeholder{   /* Mozilla Firefox 19+ */
                color: #bbb;
            }
            &:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
                color: #bbb;
            }
            &:-ms-input-placeholder{  /* Internet Explorer 10-11 */
                color: #bbb;
            }
		}

        .textarea {
			.ov(a);
            height: 180px - 20;
            resize: none;
			line-height: 22px;
			&+.num-box {
				bottom: 20px;
			}
		}
		input.avatar {
			.pos(a);
			width: 0;
			height: 0;
			.opacity(0);
		}
        .item {
			.pos(r);
			padding: 20px 0;
			font-size: 0;

			.pos-box {
				.pos(r);
				.dis(ib);
				vertical-align: top;
				.cl();
			}

            &-half {
                .pos(r);
                .dis(ib);
                vertical-align: top;
				width: 476px;
				.input {
					width: 322px - 50;
				}
            }
            div.tips-err {
                .pos(a);
                bottom: -32px;
				left: 20px;
				z-index: 99;
                color: @red;
                font-size: 14px;
                line-height: 32px;
                white-space: nowrap;
            }
            label {
				.dis(ib);
				line-height: 44px;
				margin: 0 30px 0 0;
				font-size: 14px;
				color: #333;
				cursor: pointer;
				input {
					.dis(ib);
					width: 18px;
					height: 18px;
					margin: -3px 6px 0 0;
					vertical-align: middle;
				}
			}
            .icon-sanjiao {
                .pos(a);
                top: 17px;
                right: 20px;
                font-size: 12px;
				color: #ccc;
				.anim();
            }
            .readonly {
                cursor: pointer;
            }
			.tips {
				margin-top: -20px;
				line-height: 32px;
				color: #aaa;
				font-size: 12px;
			}
			.num-box {
                .pos(a);
                bottom: 16px;
                right: 20px;
                color: #bbb;
                font-size: 14px;
                line-height: 1;
			}
			.upimg {
				.dis(ib);
				vertical-align: top;
				width: 290px;
				#previews {
					.pos(r);
					.ov(h);
					border: 1px solid #dcdcdc;
					width: 288px;
					height: 178px;
					margin-bottom: 10px;
					.bdr(4px);
					cursor: pointer;
					img {
						.pos(r);
						top: -1px;
						left: -1px;
						max-width: none;
						width: 290px;
						height: 180px;
					}
					&:hover {
						border: 1px solid @blue;
					}
					#choosefile {
						.pos(a);
						top: 0;
						left: -100%;
						z-index: 9;
						width: 100%;
						height: 100%;
						cursor: pointer;
						// .opacity(0);
					}
					.hiddeninput {
						.pos(a);
						top: 0;
						left: -100%;
						z-index: 2;
						width: 100%;
						cursor: pointer;
						.opacity(0);
					}
				}
				p {
					line-height: 18px;
					font-size: 14px;
					color: #999;
					text-align: center;
				}
			}
		}
		.checkbox {
			line-height: 1;
			font-size: 14px;
			label {
				color: #666;
				line-height: 1;
				cursor: auto;
				.ico-radio {
					background-position: -130px 0;
					&-cur {
						background-position: -160px 0;
					}
				}
			}
		}

        .btn {
            .dis(b);
            width: 170px;
			line-height: 44px;
            font-size: 14px;
            color: #fff;
            background: @green;
			border: none;
			text-align: center;
            .bdr(4px);
            cursor: pointer;
            &:hover {
                background: @green-h;
            }
		}
		.block {
			.dis(b);
		}
		.tagsContaine {
			.pos(r);
			z-index: 9;
			padding: 10px 0 0;
			width: 800px - 2;
			height: auto;
			&.hover {
				border: 1px solid @blue;
			}
		}
		#tagValue {
			.pos(a);
			z-index: -1;
			.opacity(0);
		}
		.tagList {
			// float: left;
			font-size: 0;
			// margin-bottom: -10px;
			.tagItem {
				float: left;
				.dis(ib);
				vertical-align: top;
				height: 26px;
				line-height: 26px;
				background: @blue;
				margin-left: 10px;
				margin-bottom: 10px;
				padding: 0 10px;
				font-size: 14px;
				color: #fff;
				.bdr(4px);
				.icon {
					.dis(ib);
					vertical-align: middle;
					margin: -3px 0 0 20px;
					font-size: 10px;
					color: #fff;
					cursor: pointer;
					&:hover {
						color: #fff;
					}
				}
			}
		}
		.tagInput {
			float: left;
			border: 0;
			line-height: 24px;
			height: 24px;
			color: #333;
			margin: 0 0 10px 10px;
			font-size: 14px;
			&::-webkit-input-placeholder{
                color: #bbb;
            }
            &::-moz-placeholder{   /* Mozilla Firefox 19+ */
                color: #bbb;
            }
            &:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
                color: #bbb;
            }
            &:-ms-input-placeholder{  /* Internet Explorer 10-11 */
                color: #bbb;
            }
		}
		.tags {
			padding: 10px 0 0;
			margin-bottom: -30px;
			line-height: 30px;
			.tag {
				.dis(ib);
				vertical-align: top;
				height: 28px;
				line-height: 28px;
				margin-right: 10px;
				padding: 0 25px;
				font-size: 14px;
				color: #666;
				background: #fff;
				border: 1px solid #ccc;
				cursor: pointer;
				.bdr(4px);
				&:hover {
					color: #333;
				}
			}
			.fr {
				font-size: 14px;
				color: #bbb;
			}
		}

		.sp-box {
			.pos(r);
			margin: 0 0 30px;
			.txt {
				.dis(b);
				width: 708px - 40px;
				height: 42px;
				line-height: 42px;
				padding: 0 20px;
				border: 1px solid #eee;
				.bdr(4px);
				font-size: 14px;
				color: #333;
				&:focus {
					border: 1px solid @blue;
				}
			}
			.btn {
				.dis(ib);
				width: 130px;
				height: 36px;
				margin: 20px 0 0;
				line-height: 36px;
				font-size: 14px;
				color: #fff;
				background: @blue;
				border: 0;
				text-align: center;
				cursor: pointer;
				.bdr(4px);
				&:hover {
					background: @blue-h;
				}
			}
			.checkbox {
				.pos(a);
                top: 0;
				left: 734px;
				line-height: 44px;
				white-space: nowrap;
				label {
					cursor: pointer;
				}
			}
		}
	}

	&-list {
		margin: 0 130px;
		.btn-add {
			.dis(b);
			line-height: 44px;
			margin: 40px 0 0;
			font-size: 14px;
			color: #fff;
			text-align: center;
			.bdr(4px);
			background: @green;
			&:hover {
				background: @green-h;
			}
		}
		ul {
			.ov(h);
			margin: 20px 0 0;
		}
		li {
			padding: 21px 0 20px;
			margin: -1px 0 0;
			border-top: 1px solid #eee;
			.cl();
			img {
				.dis(ib);
				vertical-align: middle;
				margin: 0 25px 0 0;
				.bdr(4px);
			}
			.name {
				.dis(ib);
				vertical-align: middle;
				line-height: 30px;
				max-width: 550px;
				font-size: 16px;
				color: #666;
				text-align: justify;
			}
			a:hover {
				.name {
					color: @blue;
				}
			}
			.icon {
				font-size: 16px;
				margin: 0 20px 0 50px;
				cursor: pointer;
				color: #ccc;
				&:hover {
					color: @blue;
				}
			}
			.fr {
				padding: 48px 0 0;
			}
		}
	}
}
/* 选择视频列表 */
.sp-list {
    li {
        margin: 0 0 14px;
        .title {
			.ov(v);
            .pos(r);
            width: 708px - 40px;
            height: 42px;
            line-height: 42px;
            padding: 0 20px;
            margin: 0 0 20px;
            border: 1px solid #eee;
            background: #fff;
            font-size: 14px;
            color: #666;
            .bdr(4px);
            .icon-sanjiao {
				.pos(s);
                .dis(ib);
                vertical-align: middle;
                font-size: 12px;
                margin: -3px 10px 0 0;
                color: #ccc;
            }
            .txt {
                .dis(ib);
                vertical-align: middle;
                margin-top: -4px;
                width: 400px - 28px;
                height: 22px;
                padding: 0 14px;
                line-height: 22px;
                color: #333;
                border: 1px solid #eee;
                .bdr(4px);
            }
            .fr {
                a {
                    margin: 0 10px;
                    color: #999;
                    &:hover {
                        color: @blue;
                    }
                }
            }
            .btn {
                .dis(ib);
                width: 134px;
                height: 40px;
                margin: 14px 0 0;
                line-height: 40px;
                font-size: 16px;
                color: #fff;
                background: @yellow;
                border: 0;
                text-align: center;
                cursor: pointer;
                .bdr(4px);
                &:hover {
                    background: @yellow-h;
                }
            }
            .checkbox {
				.pos(a);
                top: 0;
				left: 734px;
				line-height: 44px;
				white-space: nowrap;
				label {
					cursor: pointer;
				}
			}
        }
        .list {
            li {
                .pos(r);
                .ov(h);
                float: left;
                width: 178px;
                height: 98px;
                margin: 0 14px 14px 0;
                border: 1px solid #eee;
                text-align: center;
                line-height: 30px;
                font-size: 12px;
                color: #999;
                cursor: pointer;
            }
            .compress {
                .ov(v);
                width: 180px;
                height: 100px;
                border: 1px solid #f0f0f0;
                text-align: center;
                line-height: 36px;
				font-size: 14px;
				color: #999;
				.bdr(4px);
                .img {
                    .ov(h);
                    width: 180px;
                    height: 100px;
                    .bdr(4px);
                    img {
                        width: 180px;
                    }
                }
                &:hover {
                    .bg {
                        .dis(b);
                    }
                }
                .ico-compress {
                    .dis(b);
                    width: 46px;
					height: 37px;
					margin: 22px auto 0;
					background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAlCAYAAAA9ftv0AAAA+ElEQVRYhe3YMQ4BQRSA4Z8oUCAkDuAiKsXegEKhEJ1EIRoHUGm0NLiBZBuNU0iUKo2gUwl5siVBjBeTvK/fN392NrPJxParIA0MgSqQ5bUzsAM2QAjMgdOzpwrl8I2Rn4sDA6D1ZrRIASUgAEbAFuhEs9TIYo0vF8tEO7YA0lrh8qlcHc5byk4UirmLw5kPud7eCtBzPPOh2HVdc/nGf00OgSnQTXgULXJAW0421ZPAoaav4Xlfw3V/Gi5ZuDYL12bh2ixcm4Vrs3BtFq7NwrVZuDYL12bh2rwOP/5Bx6cOEj72q/luIre1fSAJ1KPb0H8m18wzoH8D2mQhfH0kBesAAAAASUVORK5CYII=) no-repeat 0 0;
                }
                .bg {
                    .dis(n);
                    .pos(a);
                    top: 0;
                    left: 0;
                    width:180px;
                    height: 100px;
                    background: rgba(0, 0, 0, .4);
                    .bdr(4px);
                    font-size: 0;
                    filter: ~'progid:DXImageTransform.Microsoft.gradient(startcolorstr=#66000000,endcolorstr=#66000000)';

                    .btn {
                        .dis(ib);
                        vertical-align: middle;
                        width: 34px;
                        height: 34px;
                        margin: 30px 6px 0;
                        line-height: 34px;
                        background: @blue;
                        color: #fff;
                        border: 0;
                        .bdr(4px);
                        cursor: pointer;
                        &:hover {
                            background: @blue-h;
                            color: #fff;
                        }
                        input {
                            .pos(a);
                            top: 0;
                            left: 0;
                            width: 34px;
                            height: 34px;
                            .opacity(0);
                            z-index:999;
                            cursor: pointer;
                        }
                        &.del {
                            background: #fff;
                            color: #bbb;
                            &:hover {
                                background: @blue;
                                color: #fff;
                            }
                        }
                    }
                }
                .progress {
                    .pos(a);
                    top: 110px;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background: #e7e7e7;
                    .percent {
                        .pos(a);
                        top: 0;
                        left: 0;
                        height: 4px;
                        background: @blue;
                    }
                    .up-percent {
                        .pos(a);
                        top: -15px;
						left: 100%;
						z-index: 8;
						white-space: nowrap;
                        text-align: center;
                        line-height: 30px;
                        font-size: 14px;
                        color: #666;
                        span {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        .btn-add {
            .dis(b);
            width: 130px;
            height: 40px;
            line-height: 40px;
            padding: 0;
            border: 0;
            text-align: center;
            font-size: 14px;
            color: #fff;
            background: @blue;
            .bdr(4px);
            cursor: pointer;
            &:hover {
                background: @blue-h;
            }
        }
    }
}
:root .sp-list li .ct ul li .bg {
    filter: none;
}

.ico-radio {
	.pos(r);
	.dis(ib);
	.ov(h);
	width: 16px;
	height: 16px;
	margin: -3px 6px 0 0;
	vertical-align: middle;
	background: url(../images/radio.png) no-repeat -69px 0;
	cursor: pointer;
	&-cur {
		background-position: -30px 0;
	}
	input {
		.pos(a);
		top: 0;
		left: 0;
		margin: 0;
		.opacity(0);
		cursor: pointer;
	}
}