@charset "utf-8";
@import url(../../../common/common-pc.less);

@page-w: 1220px;
@yellow: #ff6c00;
@yellow-h: #fd9932;
@blue: #0086ff;
@blue-h: #0f92fb;
@green: #21bc1d;
@green-h: #41cb56;
@red: #fe6153;
@red-h: #fd4043;

@gray: #ddd;
.yellow {
    color: @yellow !important;
}
.blue {
    color: @blue !important;
}
.bg-blue {
    background: @blue !important;
    &:hover {
        background: @blue-h !important;
    }
}
.bg-green {
    background: @green !important;
    &:hover {
        background: @green-h !important;
    }
}
.bg-white {
    background: #fff;
}
.bdr4 {
    .bdr(4px);
}

body {
    background: #f7f9fb;
}
.w270 {
    width: 270px;
}
.w290 {
    width: 290px;
}
.w300 {
    width: 300px;
}
.w930 {
    width: 930px;
}
.mt10 {
    margin-top: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml10 {
    margin-left: 10px;
}
.pt20 {
	padding-top: 20px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb60 {
	padding-bottom: 60px;
}

#job-sld1 {
	@w: 610px;
    @h: 340px;
    .pos(r);
    width: @w;
    height: @h;

    .slides_container {
        width: @w;
        height: @h;
        .ov(h);
        img {
            .bdr(3px);
            background: #eee url(../images/logo.png) no-repeat center center;
            background: #eee url(../images/logo.svg) no-repeat center center ~'/' 94px auto;
            &:after {
                content: '';
                .pos(a);
                top: 0;
                left: 0;
                width: @w;
                height: @h;
                .bdr(3px);
                background: #eee url(../images/logo.png) no-repeat center center;
                background: #eee url(../images/logo.svg) no-repeat center center ~'/' 94px auto;
            }
        }
    }
    .pagination {
        position: absolute;
        bottom: 20px;
        z-index: 6;
        width: 100%;
        height: 10px;
        padding: 10px 0;
        line-height: 10px;
        text-align: center;

        li {
            .dis(i);
        }
        a {
            .dis(ib);
            .ov(h);
            width: 8px;
            height: 8px;
            margin: 0 3px;
            background: #fff;
            line-height: 200px;
            .bdr(10px);
            .opacity(.4);
        }
        .cur {
            a {
                width: 18px;
                .opacity(1);
            }
        }
    }
    .icon-zuojiantou, .icon-youjiantou {
        .dis(n);
        position: absolute;
        top: 0;
        .ov(h);
		width: 20px;
		padding: 0 22px;
        height: @h;
        line-height: @h;
        z-index: 55;
        font-size: 20px;
        cursor: pointer;
        color: #fff;
        text-align: center;
        &:hover {
            color: @blue;
        }
    }
    .icon-zuojiantou {
        left: 0;
    }
    .icon-youjiantou {
        right: 0;
    }
    &:hover {
        .icon-zuojiantou, .icon-youjiantou {
            .dis(b);
        }
    }
}
.job {
	// 首页
	&-adv {
		img, .imgmask {
			.bdr(4px);
		}
	}
	&-nav {
		padding-top: 28px;
		font-size: 0;
		text-align: center;
		li {
			.dis(ib);
			vertical-align: top;
			margin: 0 33px;
			line-height: 56px;
			color: #666;
			font-size: 16px;
			a {
				.pos(r);
				.dis(b);
				color: #666;
				&:hover {
					color: @blue;
					&:after {
						content: '';
						.pos(a);
						bottom: 0;
						left: 50%;
						width: 20px;
						height: 2px;
						background: @blue;
						margin-left: -10px;
					}
				}
				i {
					.pos(a);
					top: 12px;
					left: 36px;
					height: 17px;
					line-height: 17px;
					padding: 0 5px;
					font-size: 12px;
					color: #fff;
					white-space: nowrap;
					background: #f65658;
					.bdr(17px);
				}
			}
			&.cur {
				a {
					color: @blue;
					&:before {
						content: '';
						.pos(a);
						bottom: 0;
						left: 50%;
						width: 20px;
						height: 2px;
						background: @blue;
						margin-left: -10px;
					}
				}
			}
		}
	}
	&-sobox {
		width: 1022px;
		margin: 0 auto;
		padding: 30px 0 16px;
        font-size: 0;
        .form {
			.dis(b);
        }
        .text {
            .dis(ib);
            vertical-align: top;
            width: 918px - 71;
            padding: 13px 35px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            color: #666;
			border: 1px solid #ddd;
			border-right: none;
			.bdr(4px, 0, 0, 4px);
			&:focus {
				border-color: @blue;
			}
        }
        .btn {
            .dis(ib);
            vertical-align: top;
            width: 103px;
            height: 58px;
            border: none;
            line-height: 58px;
            font-size: 22px;
            background: @blue;
            color: #fff;
			cursor: pointer;
			.bdr(0, 4px, 4px, 0);
            &:hover {
                background: @blue-h;
            }
		}
		.hot {
			overflow: hidden;
			height: 30px;
			line-height: 30px;
			padding: 13px 0 0 35px;
			color: #999;
			word-break: break-all;
			span {
				font-size: 14px;
			}
			a {
				margin: 0 12px;
				color: #999;
				font-size: 14px;
				&:hover {
					color: @blue;
				}
			}
    }
	}
	&-list {
		background: #fff;
		.bdr(4px);
		.tit {
            height: 70px;
			line-height: 70px;
			color: #333;
			font-size: 0;
			border-bottom: 1px solid #eee;
			h2 {
				padding: 0 34px;
				font-size: 18px;
			}
		}
		.list {
			.item {
				.cl();
				width: 930px - 32*2;
                padding: 32px;
                border-bottom: 1px solid #f6f6f6;
                &-l {
                    width: 600px - 32;
                }
                &-r {
                    width: 320px - 32;
                }
				.j {
					&-name {
						height: 24px;
						line-height: 24px;
						font-size: 18px;
						color: #333;
						a {
							color: @blue;
							font-size: 18px;
							color: #333;
							&:hover {
								color: @blue-h;
							}
						}
						.price {
							margin-left: 20px;
							font-size: 16px;
							&:hover {
								color: #fd4043;
							}
						}
						.times {
							margin-left: 18px;
							font-size: 14px;
							color: #aaa;
						}
						.btn {
							.dis(n);
							.pos(a);
							width: 130px;
							height: 36px;
							line-height: 36px;
							margin-left: 38px;
							font-size: 14px;
							color: #fff;
							background: @green;
							.bdr(4px);
							text-align: center;
							cursor: pointer;
							&:hover {
								background: @green-h;
							}
						}
					}
					&-intro {
						.ov(h);
						height: 34px;
						line-height: 34px;
						padding: 7px 0 0;
						color: #888;
						font-size: 14px;
						span {
							.dis(ib);
							vertical-align: middle;
							font-size: 12px;
							color: #888;
							margin: -3px 10px 0;
						}
					}
				}
				.c {
					&-img {
						padding: 0 20px 0 0;
						img {
							width: 62px;
							height: 62px;
							.bdr(4px);
						}
					}
					&-name {
						.ov(h);
						height: 36px;
						line-height: 36px;
						a {
							font-size: 16px;
							color: #333;
							&:hover {
								color: @blue;
							}
						}
					}
					&-slogan {
						.ov(h);
						height: 22px;
						line-height: 22px;
						font-size: 14px;
						color: #888;
						span {
							.dis(ib);
							vertical-align: middle;
							font-size: 12px;
							color: #888;
							margin: -3px 10px 0;
						}
					}
				}
                &:hover {
					.pos(r);
					left: -14px;
					top: -14px;
					padding: 32px + 14px;
					margin-bottom: -28px;
					.box-shadow(0 0 12px rgba(0, 0, 0, .1));
					background: #fff;
					.bdr(4px);
					.j-name {
						.btn {
							.dis(ib);
							vertical-align: top;
						}
					}
				}
            }
		}
	}
	&-sideadv {
		.imgmask {
			margin-bottom: 10px;
			.bdr(4px);
			img {
				width: 270px;
				height: 120px;
				.bdr(4px);
			}
		}
	}
	&-ecode {
        background: #fff;
		text-align: center;
		.bdr(4px);
        .tit {
			font-size: 0;
            line-height: 65px;
			border-bottom: 1px solid #eee;
			text-align: center;
            li {
                .pos(r);
				padding: 6px 0 0;
                .dis(ib);
				vertical-align: top;
				width: 120px;
				height: 65px;
				font-size: 16px;
				color: #2f2f2f;
				cursor: pointer;
                &.cur, &:hover {
					color: @blue;
					font-weight: 700;
					&:after {
						content: '';
						.pos(a);
						bottom: -1px;
						left: 50%;
						width: 20px;
						height: 2px;
						background: @blue;
						margin-left: -10px;
					}
                }
            }
        }
        .ct {
            .ov(h);
            padding: 40px 0 34px;
            img {
                width: 123px;
                height: 123px;
            }
            p {
                .ov(h);
                height: 24px;
				line-height: 24px;
				padding: 14px 0 0;
                color: #444;
                font-size: 14px;
            }
        }
	}
	&-contact {
        margin-top: 30px;
		background: #fff;
		.bdr(4px);
        .tit {
            padding: 30px 30px 24px;
            line-height: 1;
            font-size: 16px;
            color: #333;
        }
        .ct {
            padding: 30px 28px 40px;
            border-top: 1px solid #eee;
			.btn {
				.ov(h);
				.dis(b);
				width: 130px;
				height: 36px;
				line-height: 36px;
				font-size: 14px;
				color: #fff;
				background: @green;
				.bdr(4px);
				text-align: center;
				.icon-qq {
					.dis(ib);
					vertical-align: middle;
					font-size: 16px;
					margin: -3px 10px 0 0;
				}
				&:hover {
					background: @green-h;
				}
			}
            p {
				margin-top: 20px;
                line-height: 1;
                font-size: 14px;
                color: #666;
            }
        }
    }
}
.page-job {
	padding: 40px 0 60px;
}
.tips-noexist {
	.pos(f);
	bottom: 0;
	left: 0;
	z-index: 30;
	width: 100%;
	height: 76px;
	line-height: 76px;
	text-align: center;
	background: #ff5052;
	font-size: 16px;
	color: #fff;
	.icon-tanhao {
		margin-right: 20px;
		font-size: 22px;
		color: #fff;
	}
	.btn {
		.dis(ib);
		vertical-align: middle;
		width: 130px;
		height: 36px;
		line-height: 36px;
		margin: -3px 0 0 58px;
		font-size: 14px;
		color: #fb433a;
		background: #fff;
		.bdr(4px);
		text-align: center;
	}
}