@charset "utf-8";
@import url(../../../common/common-pc.less);

@page-w: 1220px;
@yellow: #ff6c00;
@yellow-h: #fd9932;
@blue: #0086ff;
@blue-h: #0f92fb;
@green: #21bc1d;
@green-h: #41cb56;
@red: #f75659;
@red-h: #fd4043;

@gray: #ddd;
.yellow {
    color: @yellow !important;
}
.blue {
    color: @blue !important;
}
.bg-blue {
    background: @blue !important;
    &:hover {
        background: @blue-h !important;
    }
}
.bg-green {
    background: @green !important;
    &:hover {
        background: @green-h !important;
    }
}
.bg-white {
    background: #fff;
}
.bdr4 {
    .bdr(4px);
}

body {
    background: #f7f9fb;
}
.w270 {
    width: 270px;
}
.w290 {
    width: 290px;
}
.w300 {
    width: 300px;
}
.w910 {
    width: 910px;
}
.w930 {
    width: 930px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml10 {
    margin-left: 10px;
}
.pt20 {
	padding-top: 20px;
}
.pt28 {
	padding-top: 28px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb60 {
	padding-bottom: 60px;
}

#job-sld1 {
	@w: 610px;
    @h: 340px;
    .pos(r);
    width: @w;
    height: @h;

    .slides_container {
        width: @w;
        height: @h;
        .ov(h);
        img {
            .bdr(3px);
            background: #eee url(../images/logo.png) no-repeat center center;
            background: #eee url(../images/logo.svg) no-repeat center center ~'/' 94px auto;
            &:after {
                content: '';
                .pos(a);
                top: 0;
                left: 0;
                width: @w;
                height: @h;
                .bdr(3px);
                background: #eee url(../images/logo.png) no-repeat center center;
                background: #eee url(../images/logo.svg) no-repeat center center ~'/' 94px auto;
            }
        }
    }
    .pagination {
        position: absolute;
        bottom: 20px;
        z-index: 6;
        width: 100%;
        height: 10px;
        padding: 10px 0;
        line-height: 10px;
        text-align: center;

        li {
            .dis(i);
        }
        a {
            .dis(ib);
            .ov(h);
            width: 8px;
            height: 8px;
            margin: 0 3px;
            background: #fff;
            line-height: 200px;
            .bdr(10px);
            .opacity(.4);
        }
        .cur {
            a {
                width: 18px;
                .opacity(1);
            }
        }
    }
    .icon-zuojiantou, .icon-youjiantou {
        .dis(n);
        position: absolute;
        top: 0;
        .ov(h);
		width: 20px;
		padding: 0 22px;
        height: @h;
        line-height: @h;
        z-index: 55;
        font-size: 20px;
        cursor: pointer;
        color: #fff;
        text-align: center;
        &:hover {
            color: @blue;
        }
    }
    .icon-zuojiantou {
        left: 0;
    }
    .icon-youjiantou {
        right: 0;
    }
    &:hover {
        .icon-zuojiantou, .icon-youjiantou {
            .dis(b);
        }
    }
}
.job {
	// 首页
	&-adv {
		img, .imgmask {
			.bdr(4px);
		}
	}
	&-nav {
		padding-top: 28px;
		font-size: 0;
		text-align: center;
		li {
			.dis(ib);
			vertical-align: top;
			margin: 0 33px;
			line-height: 56px;
			color: #666;
			font-size: 16px;
			a {
				.pos(r);
				.dis(b);
				color: #666;
				&:hover {
					color: @blue;
					&:after {
						content: '';
						.pos(a);
						bottom: 0;
						left: 50%;
						width: 20px;
						height: 2px;
						background: @blue;
						margin-left: -10px;
					}
				}
				i {
					.pos(a);
					top: 12px;
					left: 36px;
					height: 17px;
					line-height: 17px;
					padding: 0 5px;
					font-size: 12px;
					color: #fff;
					white-space: nowrap;
					background: #f65658;
					.bdr(17px);
				}
			}
			&.cur {
				a {
					color: @blue;
					&:before {
						content: '';
						.pos(a);
						bottom: 0;
						left: 50%;
						width: 20px;
						height: 2px;
						background: @blue;
						margin-left: -10px;
					}
				}
			}
		}
	}
	&-sobox {
		width: 1022px;
		margin: 0 auto;
		padding: 30px 0 16px;
        font-size: 0;
        .form {
			.dis(b);
        }
        .text {
            .dis(ib);
            vertical-align: top;
            width: 918px - 71;
            padding: 13px 35px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            color: #333;
			border: 1px solid #ddd;
			border-right: none;
			.bdr(4px, 0, 0, 4px);
			&::-webkit-input-placeholder{
				color: #666;
			}
			&::-moz-placeholder{
				color: #666;
			}
			&:-moz-placeholder{
				color: #666;
			}
			&:-ms-input-placeholder{
				color: #666;
			}
			&:focus {
				border-color: @blue;
			}
        }
        .btn {
            .dis(ib);
            vertical-align: top;
            width: 103px;
            height: 58px;
            line-height: 58px;
            border: none;
            font-size: 22px;
            background: @blue;
            color: #fff;
			cursor: pointer;
			.bdr(0, 4px, 4px, 0);
            &:hover {
                background: @blue-h;
            }
		}
		.hot {
			overflow: hidden;
			height: 30px;
			line-height: 30px;
			padding: 13px 0 0 35px;
			color: #999;
			word-break: break-all;
			span {
				font-size: 14px;
			}
			a {
				margin: 0 12px;
				color: #999;
				font-size: 14px;
				&:hover {
					color: @blue;
				}
			}
		}
		&-list {
			width: 930px;
			padding-top: 0;
			.text {
				width: 826px - 71;
            	padding: 10px 35px;
			}
			.btn {
				height: 52px;
				line-height: 52px;
			}
			.hot {
				padding: 5px 0 0 20px;
			}
		}
	}
	&-list {
		background: #fff;
		.bdr(4px);
		.tit {
            height: 70px;
			line-height: 70px;
			color: #333;
			font-size: 0;
			border-bottom: 1px solid #eee;
			h2 {
				padding: 0 34px;
				font-size: 18px;
			}
		}
		.list {
			.item {
				.cl();
				width: 930px - 32*2;
                padding: 32px;
                border-bottom: 1px solid #f6f6f6;
                &-l {
                    width: 600px - 32;
                }
                &-r {
                    width: 320px - 32;
                }
				.j {
					&-name {
						height: 24px;
						line-height: 24px;
						font-size: 18px;
						color: #333;
						a {
							color: @blue;
							font-size: 18px;
							color: #333;
							&:hover {
								color: @blue-h;
							}
						}
						.price {
							margin-left: 20px;
							font-size: 16px;
							&:hover {
								color: #fd4043;
							}
						}
						.times {
							margin-left: 18px;
							font-size: 14px;
							color: #aaa;
						}
						.btn {
							.dis(n);
							.pos(a);
							width: 130px;
							height: 36px;
							line-height: 36px;
							margin-left: 38px;
							font-size: 14px;
							color: #fff;
							background: @green;
							.bdr(4px);
							text-align: center;
							cursor: pointer;
							&:hover {
								background: @green-h;
							}
						}
					}
					&-intro {
						.ov(h);
						height: 34px;
						line-height: 34px;
						padding: 7px 0 0;
						color: #888;
						font-size: 14px;
						span {
							.dis(ib);
							vertical-align: middle;
							font-size: 12px;
							color: #888;
							margin: -3px 10px 0;
						}
					}
				}
				.c {
					&-img {
						padding: 0 20px 0 0;
						img {
							width: 62px;
							height: 62px;
							.bdr(4px);
						}
					}
					&-name {
						.ov(h);
						height: 36px;
						line-height: 36px;
						a {
							font-size: 16px;
							color: #333;
							&:hover {
								color: @blue;
							}
						}
					}
					&-slogan {
						.ov(h);
						height: 22px;
						line-height: 22px;
						font-size: 14px;
						color: #888;
						span {
							.dis(ib);
							vertical-align: middle;
							font-size: 12px;
							color: #888;
							margin: -3px 10px 0;
						}
					}
				}
                &:hover {
					.pos(r);
					left: -14px;
					top: -14px;
					padding: 32px + 14px;
					margin-bottom: -28px;
					.box-shadow(0 0 12px rgba(0, 0, 0, .1));
					background: #fff;
					.bdr(4px);
					.j-name {
						.btn {
							.dis(ib);
							vertical-align: top;
						}
					}
				}
            }
		}
	}
	&-sideadv {
		.imgmask {
			margin-bottom: 10px;
			.bdr(4px);
			img {
				width: 270px;
				height: 120px;
				.bdr(4px);
			}
		}
	}
	&-ecode {
        background: #fff;
		text-align: center;
		.bdr(4px);
        .tit {
			font-size: 0;
            line-height: 65px;
			border-bottom: 1px solid #eee;
			text-align: center;
            li {
                .pos(r);
				padding: 6px 0 0;
                .dis(ib);
				vertical-align: top;
				width: 120px;
				height: 65px;
				font-size: 16px;
				color: #2f2f2f;
				cursor: pointer;
                &.cur {
					color: @blue;
					font-weight: 700;
					&:after {
						content: '';
						.pos(a);
						bottom: -1px;
						left: 50%;
						width: 20px;
						height: 2px;
						background: @blue;
						margin-left: -10px;
					}
                }
            }
        }
        .ct {
            .ov(h);
            padding: 40px 0 34px;
            img {
                width: 123px;
                height: 123px;
            }
            p {
                .ov(h);
                height: 24px;
				line-height: 24px;
				padding: 14px 0 0;
                color: #444;
                font-size: 14px;
            }
        }
	}
	&-contact {
        margin-top: 30px;
		background: #fff;
		.bdr(4px);
        .tit {
            padding: 30px 28px 24px;
            line-height: 1;
            font-size: 16px;
            color: #333;
        }
        .ct {
            padding: 30px 28px 40px;
            border-top: 1px solid #eee;
			.btn {
				.ov(h);
				.dis(b);
				width: 130px;
				height: 36px;
				line-height: 36px;
				font-size: 14px;
				color: #fff;
				background: @green;
				.bdr(4px);
				text-align: center;
				.icon-qq {
					.dis(ib);
					vertical-align: middle;
					font-size: 16px;
					margin: -3px 10px 0 0;
				}
				&:hover {
					background: @green-h;
				}
			}
            p {
				margin-top: 20px;
                line-height: 1;
                font-size: 14px;
                color: #666;
            }
        }
	}
	&-select {
		.pos(r);
		padding: 12px 0 30px;
		font-size: 0;
		li {
			padding: 21px 0 0;
		}
		span {
			.dis(ib);
			vertical-align: top;
			width: 85px;
			height: 30px;
			line-height: 30px;
			padding: 0 0 0 20px;
			font-size: 14px;
			color: #666;
		}
		a {
			.dis(ib);
			vertical-align: top;
			width: 84px;
			height: 30px;
			line-height: 30px;
			margin-left: 10px;
			text-align: center;
			font-size: 14px;
			color: #666;
			.bdr(4px);
			&.cur, &:hover {
				background: @blue;
				color: #fff;
			}
		}
		.clear-select {
			.pos(a);
			right: 20px;
			bottom: 30px;
			width: auto;
			height: 30px;
			line-height: 30px;
			padding: 0;
			color: #999;
			font-size: 14px;
			cursor: pointer;
			&:hover {
				color: @blue;
			}
		}
	}
	&-details {
		padding: 58px 0 36px;
		.name {
			font-size: 0;
			line-height: 1;
			h1 {
				font-size: 30px;
			}
			.price {
				font-size: 30px;
				margin-left: 30px;
			}
		}
		.info {
			font-size: 14px;
			color: #888;
			padding: 20px 0 0;
			span {
				.dis(ib);
				vertical-align: middle;
				margin: -3px 20px 0;
				font-size: 12px;
			}
			.times {
				font-size: 14px;
				margin-left: 30px;
			}
		}
		.tags {
			padding: 30px 0 0;
			font-size: 0;
			span {
				.dis(ib);
				vertical-align: top;
				min-width: 90px;
				line-height: 30px;
				margin-right: 10px;
				text-align: center;
				border: 1px solid #ddd;
				.bdr(30px);
				font-size: 14px;
				color: #666;
			}
		}
		.btn-box {
			padding: 42px 0 0;
			.btn {
				.dis(b);
				width: 220px;
				height: 48px;
				line-height: 48px;
				background: @green;
				color: #fff;
				text-align: center;
				.bdr(4px);
				font-size: 16px;
				&:hover {
					background: @green-h;
				}
			}
		}
	}
	&-cont {
		margin-bottom: 20px;
		background: #fff;
		.bdr(4px);
		.tit {
			padding: 0 34px;
			line-height: 72px;
			border-bottom: 1px solid #eee;
			h2 {
				font-size: 18px;
				color: #333;
			}
		}
		.cont {
			padding: 32px 34px 50px;
			line-height: 30px;
			font-size: 15px;
			color: #444;
		}
		.adress {
			padding: 34px 34px 30px;
			line-height: 30px;
			color: #444;
			border-top: 1px solid #eee;
			.tt {
				font-size: 16px;
			}
			.ct {
				font-size: 14px;
			}
			.btn {
				.dis(b);
				width: 130px;
				height: 36px;
				line-height: 36px;
				margin-top: 12px;
				background: @green;
				color: #fff;
				text-align: center;
				.bdr(4px);
				font-size: 14px;
				&:hover {
					background: @green-h;
				}
			}
		}
	}
}
.page-job {
	padding: 40px 0 60px;
}
.tips-noexist {
	.pos(f);
	bottom: 0;
	left: 0;
	z-index: 30;
	width: 100%;
	height: 76px;
	line-height: 76px;
	text-align: center;
	background: #ff5052;
	font-size: 16px;
	color: #fff;
	.icon-tanhao {
		margin-right: 20px;
		font-size: 22px;
		color: #fff;
	}
	.btn {
		.dis(ib);
		vertical-align: middle;
		width: 130px;
		height: 36px;
		line-height: 36px;
		margin: -3px 0 0 58px;
		font-size: 14px;
		color: #fb433a;
		background: #fff;
		.bdr(4px);
		text-align: center;
	}
}
.page {
	.form {
		.dis(ib);
		vertical-align: top;
		.input {
			overflow: hidden;
			width: 38px;
			height: 38px;
			line-height: 38px;
			margin: 0 5px;
			border: 1px solid #ddd;
			.bdr(4px);
			color: #666;
			font-size: 14px;
			background: #fff;
			text-align: center;
		}
		.btn {
			overflow: hidden;
			width: 40px;
			height: 40px;
			line-height: 40px;
			margin: 0 5px;
			border: 1px solid #eee;
			.bdr(4px);
			color: #fff;
			font-size: 14px;
			background: @blue;
			text-align: center;
			cursor: pointer;
			&:hover {
				background: @blue-h;
			}
		}
	}
}
.side {
	&-info {
		padding: 28px 25px 30px;
		background: #fff;
		.bdr(4px);
		.base {
			padding-bottom: 23px;
			.img {
				.dis(b);
				width: 97px;
				margin: 0 auto;
				img {
					.dis(b);
					width: 97px;
					height: 97px;
					.bdr(50%);
				}
			}
			.name {
				padding: 12px 0 0;
				line-height: 28px;
				text-align: center;
				font-size: 16px;
				font-weight: 700;
				color: #333;
				span {
					.dis(ib);
					vertical-align: middle;
					font-weight: 400;
					font-size: 18px;
					margin: -3px 0 0 5px;
					color: @yellow;
				}
			}
			a {
				font-size: 16px;
				color: #666;
				&:hover {
					color: @blue;
				}
			}
		}
		dl {
			padding: 7px 0;
			line-height: 25px;
			font-size: 14px;
			color: #666;
		}
		dt {
			float: left;
		}
		dd {
			margin-left: 45px;
			text-align: justify;
		}
	}
	&-other {
		background: #fff;
		.bdr(4px);
		.tit {
            height: 70px;
			line-height: 70px;
			padding: 0 28px;
			color: #333;
			font-size: 0;
			border-bottom: 1px solid #eee;
			font-size: 16px;
		}
		.list {
			padding: 20px 0;
			line-height: 20px;
			font-size: 14px;
			.item {
				padding: 15px 28px;
			}
			.j-name {
				color: #333;
				.name {
					color: #333;
					&:hover {
						color: @blue;
					}
				}
				.price {
					margin-left: 10px;
				}
			}
			.j-intro {
				padding: 10px 0 0;
				color: #888;
				span {
					.dis(ib);
					vertical-align: middle;
					margin: -3px 12px 0;
					font-size: 12px;
				}
			}
			.btn {
				.dis(b);
				line-height: 34px;
				font-size: 14px;
				color: #666;
				border: 1px solid #eee;
				.bdr(4px);
				text-align: center;
				&:hover {
					color: @blue;
					border-color: @blue;
				}
				&-box {
					padding: 20px 28px 0;
				}
			}
		}
	}
}

// 填写信息
.jinfo {
    &-box {
        padding: 10px 0 60px;
    }
    &-pos {
        line-height: 54px;
		font-size: 14px;
		color: #999;
	}
	&-tit {
		line-height: 70px;
		font-size: 16px;
		color: #666;
		border-bottom: 1px solid #eee;
		h2 {
			.pos(r);
			font-size: 16px;
			color: @blue;
			font-weight: 700;
			text-align: center;
			&:after {
				content: '';
				.pos(a);
				bottom: -1px;
				left: 50%;
				width: 20px;
				height: 2px;
				margin-left: -10px;
				background: @blue;
			}
		}
	}
	&-ct {
		padding: 40px 0 0 60px;
	}
    &-form {
		padding-bottom: 40px;
        background: #fff;
		.bdr(4px);

		dt {
			float: left;
			width: 109px;
			text-align: right;
			line-height: 44px;
			font-size: 14px;
			color: #666;
			span {
				color: @red;
			}
		}
		dd {
			.pos(r);
			margin-left: 145px;
			i {
				.dis(ib);
				vertical-align: top;
				font-size: 14px;
				color: #999;
				padding: 0 20px;
				line-height: 44px;
			}
		}
        .input, .textarea {
			width: 884px - 40;
            .height(24px);
            padding: 9px 20px;
            border: 1px solid #dcdcdc;
            .bdr(4px);
            background: #fff;
            color: #333;
            font-size: 14px;
            &:focus {
                border: 1px solid @blue;
				.box-shadow(0, 0, 5px, rgba(0, 132, 255, .2));
				&+.icon-sanjiao {
					.rotate(180deg);
				}
            }
            &::-webkit-input-placeholder{
                color: #bbb;
            }
            &::-moz-placeholder{   /* Mozilla Firefox 19+ */
                color: #bbb;
            }
            &:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
                color: #bbb;
            }
            &:-ms-input-placeholder{  /* Internet Explorer 10-11 */
                color: #bbb;
            }
		}
		.timepicker {
			width: 248px - 40;
		}

        .textarea {
            height: 178px - 20;
            resize: none;
			line-height: 22px;
			&+.num-box {
				bottom: 20px;
			}
        }
        .item {
			.pos(r);
			padding: 20px 0;
			font-size: 0;

			&-avatar {
				dt {
					line-height: 96px;
				}
				.avatar {
					.pos(a);
					width: 0;
					height: 0;
					.opacity(0);
				}
			}
			.pos-box {
				.pos(r);
				.dis(ib);
				vertical-align: top;
			}

            &-half {
                .pos(r);
                .dis(ib);
                vertical-align: top;
				width: 485px;
				.input {
            		width: 338px - 40;
				}
				&2 {
					.pos(r);
					.dis(ib);
					vertical-align: top;
					width: 513px;
					.input {
						width: 366px - 40;
					}
				}
            }
            div.tips-err {
                .pos(a);
                bottom: -32px;
				left: 20px;
				z-index: 99;
                color: @red;
                font-size: 14px;
                line-height: 32px;
                white-space: nowrap;
            }
            .btn {
                .dis(b);
                border: 0;
                width: 170px;
                margin-top: 30px;
                .height(44px);
                background: @green;
                color: #fff;
                font-size: 16px;
                .bdr(4px);
                cursor: pointer;
                &:hover {
                    background: @green-h;
                }
            }
            label {
				.dis(ib);
				line-height: 44px;
				margin: 0 30px 0 0;
				font-size: 14px;
				color: #333;
				cursor: pointer;
				input {
					.dis(ib);
					width: 18px;
					height: 18px;
					margin: -3px 6px 0 0;
					vertical-align: middle;
				}
				.ico-radio {
					.pos(r);
					.dis(ib);
					.ov(h);
					width: 16px;
					height: 16px;
					margin: -3px 6px 0 0;
					vertical-align: middle;
					background: url(../images/radio.png) no-repeat -69px 0;
					cursor: pointer;
					&-cur {
						background-position: -30px 0;
					}
					input {
						.pos(a);
						top: 0;
						left: 0;
						margin: 0;
						.opacity(0);
						cursor: pointer;
					}
				}
			}
            .icon-sanjiao {
                .pos(a);
                top: 17px;
                right: 20px;
                font-size: 12px;
				color: #ccc;
				.anim();
            }
            .readonly {
                cursor: pointer;
            }
            .sw-select {
                .dis(n);
                .pos(a);
                top: 54px;
                width: 338px / 2;
                border: 1px solid #ddd;
                z-index: 10;
                background: #fff;
                .ovx(h);
                .ovy(a);
                height: 35px * 6;
                &1 {
                    left: 0;
                    .bdr(4px 0 0 4px);
                }
                &2 {
                    left: 338px / 2;
                    .bdr(0 4px 4px 0);

                }
                li {
                    .pos(r);
                    .height(35px);
					font-size: 14px;
					line-height: 32px;
                    color: #666;
                    .arrow {
                        .pos(a);
                        top: 12px;
                        right: 10px;
                        width: 6px;
                        height: 11px;
                    }
                    a {
                        .dis(b);
                        padding: 0 0 0 18px;
                        &:hover, &.cur {
                            background: #f6f6f6;
                        }
                    }
                }
			}
			.tips {
				margin-top: -20px;
				line-height: 32px;
				color: #aaa;
				font-size: 12px;
			}
			.num-box {
                .pos(a);
                bottom: 16px;
                right: 20px;
                color: #bbb;
                font-size: 14px;
                line-height: 1;
			}
			.btn-add {
				line-height: 1;
				margin: -10px 0 10px;
				font-size: 14px;
				color: @blue;
				cursor: pointer;
				span {
					.dis(ib);
					vertical-align: top;
					font-size: 14px;
					margin-right: 10px;
				}
				&:hover {
					color: @blue-h;
				}
			}
			.btn-back {
				.dis(ib);
				vertical-align: top;
				line-height: 1;
				margin: 40px 0 0;
				font-size: 14px;
				color: #666;
				cursor: pointer;
				&:hover {
					color: @blue;
				}
			}
        }

        .btn {
            .dis(ib);
            vertical-align: top;
            padding: 0 38px;
            margin-top: 40px;
            line-height: 44px;
            background: @green;
            font-size: 16px;
            color: #fff;
            border: 0;
            .bdr(4px);
            cursor: pointer;
            &:hover {
                background: @green-h;
            }
        }
        .data-img {
            margin-bottom: 10px;
            .cl();
            .img {
                .pos(r);
                z-index: 2;
                .ov(h);
                margin: 0 20px 0 0;
                width: 96px;
                height: 96px;
                background: #dcdcdc;
                .bdr(50%);
                .edit {
                    // .dis(n);
                    .pos(a);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    line-height: 25px;
                    color: #fff;
                    background: #000;
                    text-align: center;
                    background: none;
                    filter: ~'progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000)';
                    font-size: 12px;
                    .icon-photo {
                        .dis(b);
                        width: 24px;
                        margin: 26px auto 0;
                        font-size: 24px;
                    }
                }
                img +.edit {
                    display: none;
                }
                &:hover {
                    .edit {
                        .dis(b);
                        background: rgba(0, 0, 0, .5);
                    }
                }
            }
            .info {
                .pos(r);
                line-height: 22px;
                padding-top: 26px;
                font-size: 14px;
                color: #aaa;
                .tip {
                    position: absolute;
                    top: 28px;
                    left: 450px;
                    padding: 0;
                    width: auto;
                    color: #f75659;
                    border: 0;
                    background: none;
                    font-size: 14px;
                    line-height: 44px;
                    white-space: nowrap;
                }
            }
		}
		.add-box {
			padding: 40px 0 0 60px;
			margin: 40px 0 0 -60px;
			border-top: 1px solid #eee;
		}
		.block {
			.dis(b);
		}
	}
}

// 通用下拉
.item-select {
    .pos(r);
    z-index: 2;
    .select-list {
        .dis(n);
        .pos(a);
        top: 44px;
		left: 0;
		z-index: 999;
        width: 100%;
        padding: 10px 0 0;
        line-height: 32px;
        font-size: 14px;
		ul {
			padding: 10px 0;
			border: 1px solid #dcdcdc;
			.box-shadow(0, 0, 6px, rgba(24, 28, 27, .15));
			background: #fff;
			.bdr(4px);
		}
        li {
            padding: 0 20px;
            cursor: pointer;
            text-align: left;
            color: #333;
            &:hover {
				color: @blue;
                background: #f6f6f6;
            }
        }
    }
}

/* 编辑头像 */
.user-editbox {
    @w: 510px;
    @h: 525px;
    .dis(n);
    .pos(f);
    top: 50%;
    left: 50%;
    width: @w - 60px;
    height: @h;
    padding: 0 30px;
    margin: -@h/2 0 0 -@w/2;
    background: #fff;
    z-index: 999;
    .bdr(5px);

    .tit {
        .pos(r);
        width: 510px - 40px;
        left: -30px;
        .height(55px);
        padding: 0 20px;
        margin-bottom: 30px;
        font-size: 16px;
        color: #666;
        border-bottom: 1px solid #ddd;
    }
    &-close {
        .pos(a);
        top: 20px;
        right: 20px;
        width: 14px;
        height: 14px;
        cursor: pointer;
        color: #c5c5c5;
        z-index: 9;
        font-size: 14px;

        &:hover {
            color: @blue;
        }
    }
    .ct {
        .pos(r);
        width: 335px;
        text-align: center;

        .btn {
            .dis(ib);
            border: 0;
            padding: 0 65px;
            .height(44px);
            margin: 20px 0 0;
            background: @green;
            color: #fff;
            font-size: 18px;
            .bdr(3px);
            cursor: pointer;

            &:hover {
                background: @green-h;
            }
            &-up {
                .ov(h);
                .pos(a);
                top: 299px;
                right: -120px;
                .height(34px);
                padding: 0 23px;
                border: 1px solid #aaa;
                color: #666;
                font-size: 14px;
                cursor: pointer;
                .bdr(3px);

                &:hover {
                    color: @blue;
                    border: 1px solid @blue;
                }
                input {
                    .pos(a);
                    top: 0;
                    left: -70px;
                    height: 100%;
                    .opacity(0);
                    cursor: pointer;
                }
            }
        }
        .preview-box {
            .pos(a);
            top: 0;
            right: -115px;
            width: 85px;
            text-align: center;

            .preview-lg {
                .ov(h);
                width: 85px;
                height: 85px;
                margin: 43px auto 0;
                background: #ccc;
                .bdr(50%);
            }
            .preview-md {
                .ov(h);
                width: 50px;
                height: 50px;
                margin: 33px auto 0;
                background: #ccc;
                .bdr(50%);
            }
            p {
                line-height: 34px;
                font-size: 14px;
                color: #aaa;
            }
        }
    }
}